@import "variables";

.quantity-edit-popover {

  .popover-content {

    padding: 0;

    .inputs {
      padding: 4px 10px;
    }
    .extras {
      padding: 0 10px;
    }

  }

  div.popover {
    min-width: 0;
  }

  #display {

    margin: 7px;
    text-align: right;
    width: auto;

    &.ng-untouched > * {
      background: $state-info-bg;
    }

  }

  sa-keyboard {

    margin: 10px 5px;

    .num-pad-button .btn {
      font-size: 100%;
      padding: 5px 10px;
      color: $black;
      min-width: 35px;
    }

  }

  .extras {
    border-top: solid thin $border-gray;
    text-align: center;
  }

  .delete.confirmation {
    color: $state-danger-text;
  }

}

.quantity-edit {

  a.trigger {
    min-width: 25px;
    text-align: right;
    display: inline-block;
  }

}

.disabled {
  .quantity-edit {
    a {
      color: $black;
      font-weight: normal;
      filter: none;
    }
    .caret {
      display: none;
    }
  }
}
