@import "../../../styles/variables";

.quantity-edit {

  input {
    width: 40px;
    margin: 0 auto;
    padding: 5px;
  }

  .inputs {
    @extend .display-flex;
  }

  .boxes, .bottles {
    @extend .flex-1;
  }

  .one-input {
    margin-right: 0 !important;
  }

  .boxes {
    margin-right: 7px;
  }

  .bottles {
    margin-left: 7px;
  }

  a {
    display: block;
  }

  .extras{
    border-top: solid thin $border-gray;
  }

  .delete.confirmation {
    color: $state-danger-text;
  }

}
