@import "variables";

button {
  &.margin {
    margin: 2px;
  }
  .glyphicon {
    top: 2px;
    left: 1px;
  }
}

.buttons-container {
  button {
    width: 100%;
    text-align: left;
    white-space: normal;
  }
}

.stm-location {
  .buttons {
    margin-top: 9px;
  }
}

.datepicker-with-buttons {
  .buttons {
    @media (max-width: $screen-xs-max) {
      margin-top: 6px;
      .btn-block {
        //max-width: 400px;
      }
    }
  }
}
