@import "variables";

@mixin side-view-field {
  display: flex;
  justify-content: space-between;
  strong {
    text-align: right;
  }
}

.field {

  label {

    color: $light-gray;
    margin-right: $margin;

    &:after {
      content: ':';
    }

  }

  strong {
    font-weight: 500;
  }

  @include responsive-only(xxs) {
    @include side-view-field();
  }

}
