.display-flex {
  display: flex;
  display: -webkit-flex;
}

.flex-1 {
  flex: 1;
  -webkit-flex: 1;
}

.flex-right {

  min-width: 4em;
  text-align: right;

  p {
    margin-bottom: 0;
    margin-top: 4px;
  }

  margin-left: 15px;

}

.sorter-handle {
  min-width: 40px;
  margin: -10px 10px -10px -15px;
  border-right: solid 1px #ddd;
  padding: 10px;
  text-align: center;
}
