@import "mixins";

.thumbnail img.w-150 {
  max-width: 150px;
  max-height: 150px;
}

.mh-120 img {
  max-height: 120px;
}

.mh-80 img {
  max-height: 80px;
}

.stream-photo {

  a.thumbnail {
    width: auto;
    margin: 0 auto;
    display: inline-block;
    img {
      max-height: 240px;
    }
  }

  min-height: 340px;
  max-height: 340px;
  padding-bottom: 40px;
}

img.placeholder {
  opacity: 0.3;
  background: url("images/placeholder.png") no-repeat center;
  background-size: 50px;
  @include responsive-only(xxs) {
    background-size: 30px;
  }
}

a.thumb {
  overflow: hidden;
  padding: 0;
  border: none;
  margin: 0;
}
