.iOS {

  .table-hover > tbody {

    tr:hover {
      background: none;
    }

    tr:hover > td {
      background: none;
    }

  }

  .table-hover > tbody > tr:active {
    background: none;
  }

  .hidden-iOS {
    display: none;
  }

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }

  .list-group-item, .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sorter-handle {
    margin-left: -10px;
  }

}

body.iOS {
  padding-top: 0;
  margin-bottom: 0;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
}
