@import "variables";

li.active {
  .gray {
    color: white;
  }
}

a.list-group-item {
  color: $black;
}

.round-corners-by-type {

  .list-group-item:first-of-type {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .list-group-item:last-of-type {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

}

.list-group {

  .list-group-item:first-child {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .list-group-item:last-child {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

}

.list-item {

  & + .list-item {
    border-top: 1px solid $gray-border-color;
  }

  a {

    display: block;
    padding: 3px;

    &:hover {
      text-decoration: none;
      background: $position-hover-color;
    }

  }
}

.list-group {

  margin-bottom: 0;

  li {
    list-style: none;
  }

}

.nav-tabs > li > a {
  border-radius: $border-radius $border-radius 0 0;
}

.tab-pane .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: -1px;
}
