.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin responsive-only($media, $orientation: false) {

  @if $orientation  {
    @if $media == xxs {
      @media (max-width: $screen-xs) and (orientation: $orientation) { @content; }
    }
    @else if $media == lt-sm {
      @media (max-width: $screen-xs-max) and (orientation: $orientation) { @content; }
    }
    @else if $media == gt-xs {
      @media (min-width: $screen-sm-min) and (orientation: $orientation) { @content; }
    }
  }
  @else {
    @if $media == xxs {
      @media (max-width: $screen-xs) { @content; }
    }
    @else if $media == lt-sm {
      @media (max-width: $screen-xs-max) { @content; }
    }
    @else if $media == gt-xs {
      @media (min-width: $screen-sm-min) { @content; }
    }
  }

}
