@import "variables";

.modal-content {
  border-radius: $border-radius;
}

.modal-footer {
  .btn {
    margin: 5px;
  }
  padding: 10px;
}

body.modal-open {
  > .container {
    pointer-events: none;
  }
}

.modal.modal-info {

  // to show saleOrder header
  top: 20px;

  .modal-header {

    text-align: left;
    background: $gray-background-color;

    .name {
      color: $dark-blue;
      flex: 1;
      margin: 6px;
    }

    button .glyphicon {
      top: 3px;
    }

    padding: 3px;
    display: flex;
    align-items: center;

  }

}
