.spaced div, h4, h3, h2, h1, a {

  > * + strong,
  > * + span,
  > span + a,
  > a + a {

    margin-left: 6px;

  }

  > * + small {
    margin-left: 4px;
  }

  .badge, .pull-right {
    & + span, & + a {
      margin-left: 0;
    }
  }

  > * + label {
    //margin-left: 2px;
  }

}


.alert h4 {
  margin: 0;
}
