div, h4, h3 {

  * + strong,
  * + span,
  span + a {

    margin-left: 6px;

  }

  * + small {
    margin-left: 4px;
  }

  .badge, .pull-right {
    & + span, & + a {
      margin-left: 0;
    }
  }

  * + label {
    //margin-left: 2px;
  }

}


.alert h4 {
  margin: 0;
}
