@import "variables";

@media (max-width: 767px) {

  h3, .h3 {

    margin-top: $margin-bottom-xs;
    margin-bottom: $margin-bottom-xs;

    font-size: 17px;

  }

  h2, .h2 {

    margin-top: $margin-bottom-xs;
    margin-bottom: $margin-bottom-xs;

    font-size: 21px;

  }

  .clear-both-xs {
    clear: both;
  }

  hr {
    margin-top: 7px;
    margin-bottom: $margin-bottom-xs;
  }

  .breadcrumb,
  .form-group,
  .list-group {
    margin-bottom: $margin-bottom-xs;
  }

}
