.stock-batch-view

  .title
    .existing(ng-if='vm.stockBatch.id')
      | Партия # {{ vm.stockBatch.id }}
    .new(ng-if='!vm.stockBatch.id')
      | Новая партия
  .properties
    pre {{ vm.stockBatch | json }}
  .barcodes
  .items
