.stock-batch-view

  h2.title
    .existing(ng-if='vm.stockBatch.id')
      | Партия
    .new(ng-if='!vm.stockBatch.id')
      | Новая партия

  .properties
    //.id(ng-if='vm.stockBatch.id')
      label ИД:
      strong {{ vm.stockBatch.id }}
    .cts(ng-if='vm.stockBatch.cts')
      label Дата создания:
      strong {{ vm.stockBatch.cts | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }}
    .article(ng-if='vm.stockBatch.Article')
      label Товар:
      strong {{ vm.stockBatch.Article.name }}

  .stock-batch-bar-codes
    h3 Наклейки:
    .code(ng-repeat='item in vm.stockBatch.stockBatchBarCodes | orderBy:"code" track by item.id')
      | {{ ::item.code }}

  ul.stock-batch-items
    li(ng-repeat='item in vm.stockBatch.items | orderBy:"cts" track by item.id')
      | {{ ::item.barcode }} ({{ ::item.deviceCts | amUtc | amLocal }})
