.stock-batch-view

  h2.title
    .existing(ng-if='vm.stockBatch.id')
      | Партия
      .gray {{ vm.stockBatch.id }}
    .new(ng-if='!vm.stockBatch.id')
      | Новая партия

  .properties
    pre {{ vm.stockBatch | json }}

  ul.stock-batch-bar-codes
    li(ng-repeat='item in vm.stockBatch.stockBatchBarCodes track by item.id')
      | {{ ::item.code }} ({{ ::item.deviceCts | amUtc | amLocal }})

  ul.stock-batch-items
    li(ng-repeat='item in vm.stockBatch.items track by item.id')
      | {{ ::item.barcode }} ({{ ::item.deviceCts | amUtc | amLocal }})

