@import "../../../styles/variables";

currency-value {

  display: inline-block;

  .currency-value {
    display: inline-block;
  }

  .currency {
    font-weight: normal;
    color: $gray;
    margin-left: 6px;
  }

  label {
    font-weight: normal;
    margin-bottom: 0;
  }

  label + strong {
    margin-left: 4px;
  }

}
