.stock-batching

  barcode-scanner(ng-model='vm.barcode')

  pre {{ vm.barcode | json }}

  stock-batch-view(ng-if='vm.stockBatch' ng-model='vm.stockBatch')

  button.btn.btn-primary(ng-click='vm.createClick()') Создать партию

