a(
href
popover-is-open='vm.popoverOpen'
popover-placement='auto bottom-left'
uib-popover-template='"app/domain/newsFeed/newsMessageRatings/newsMessageRatingsPopover.template.html"'
)
  ng-transclude
