.news-message-ratings-list
  .scroll-y(
  resize resize-offset-top='20' resize-min-height='60'
  vs-repeat
  )
    .user-news-message(ng-repeat='userNewsMessage in vm.userNewsMessages track by userNewsMessage.id')
      .author {{ userNewsMessage.authorAccount.name }}
      .rating {{ userNewsMessage.rating }}
