@import "../../../styles/variables";

.photo-report-list {

  $thumb-side: 90px;
  $padding: 5px;
  $small: 85%;

  .filters {
    margin-bottom: $padding*2;
  }

  .buttons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    > * {
      display: block;
    }

    .edit-toggler {
      i {
        top: 3px;
      }
    }

    make-photo-report {
      flex: 1;
      .make-photo-report {
        display: block;
        width: 100%;
      }
    }

  }

  .photo-report {

    @extend %flex-row;

    padding: $padding 0;
    align-items: center;
    position: relative;

    .thumb {

      img {

        max-height: $thumb-side;
        max-width: $thumb-side;
        min-height: $thumb-side;
        min-width: $thumb-side;

      }

    }

    > * + * {
      margin-left: $padding*2;
      flex: 1;
    }

    .campaign {
      text-align: right;
      margin-top: -30px;
      font-size: $small;
      line-height: $padding*2.5;
      //position: relative;
      //top: -20px;
      //max-width: 150px;
      //font-size: 75%;
    }

    .deviceCts {
      font-size: $small;
      color: $gray;
      position: absolute;
      top: 5px;
      right: 0;

      .remove {
        margin-right: 10px;
        color: $red;
        position: relative;
        top: 1px;
      }

    }
  }

}
