@import "../../../styles/variables";

.photo-report-list {

  $thumb-side: 90px;
  $padding: 5px;

  .filters {
    margin-bottom: $padding*2;
  }

  .photoReport {

    padding: $padding 0;

    @extend %flex-row;

    .thumb img {

      max-height: $thumb-side;
      max-width: $thumb-side;
      min-height: $thumb-side;
      min-width: $thumb-side;

    }

    .outlet {
      margin-left: $padding*2;
      flex: 1;
    }
  }

}
