.cancel-button(ng-if='vm.selectedSalesman')
  a.btn-link.btn.btn-block(href ng-click='vm.noneClick()') Отменить выбор

.scroll-y.salesman-popover(
resize
resize-offset-top='25'
)

  .option(
  ng-repeat='salesman in vm.salesmen track by salesman.id'
  ng-class='{current: vm.selectedSalesman.id == salesman.id}'
  ng-click='vm.salesmanClick(salesman)'
  )
    span {{salesman.shortName}}
