.catalogue-filter.scroll-y

  uib-accordion(close-others='true')

    include tabs/catalogueFilterQueries

    include tabs/catalogueFilterArticleGroups

    include tabs/catalogueFilterTagGroups

  .price
    label Цена
    span(ng-if='vm.priceSlider.min > 0') от {{vm.priceSlider.min}} ₽
    span(ng-if='vm.priceSlider.max < vm.priceSlider.options.ceil') до {{vm.priceSlider.max}} ₽

  rzslider(
  rz-slider-model="vm.priceSlider.min"
  rz-slider-high="vm.priceSlider.max"
  rz-slider-options="vm.priceSlider.options"
  )
