.catalogue-filter.scroll-y

  uib-accordion(close-others='true')

    include tabs/catalogueFilterQueries

    include tabs/catalogueFilterArticleGroups

    include tabs/catalogueFilterTagGroups
      
  rzslider(
  rz-slider-model="vm.priceSlider.min"
  rz-slider-high="vm.priceSlider.max"
  rz-slider-options="vm.priceSlider.options"
  )
