@import "variables";

.outlet-sales-target, .sales-targets-report {

  min-height: 80px;

  $col-width: 60px;

  .header {

    display: flex;
    font-weight: bold;

    .article {
      flex: 1;
      //visibility: hidden;
      text-align: left;
      max-width: unset;
    }

    > * {
      min-width: $col-width;
      max-width: $col-width;
      text-align: center;
      padding: 0 $margin-bottom-xs-minus;
      word-break: normal;
    }

    .name {
      color: $black;
    }

  }

  .target-group {

    > .name {
      font-weight: bold;
      text-align: center;
      margin-bottom: $margin-bottom-xs;
    }

    margin-bottom: $margin-bottom-xs;

  }

  .header {
    //margin: 0;
    padding: $margin-bottom-xs-minus 0;
    //background: $gray-background-color;
    color: $light-gray;
  }

  .targets .target {

    display: flex;

    border-top: solid 1px $border-gray;

    &:last-child {
      border-bottom: solid 1px $border-gray;
    }

    > * {
      padding: $margin-bottom-xs 0;
    }

    .name {
      padding-left: $margin-bottom-xs;
    }

    .articles, .name {
      flex: 1;

      .status {
        display: inline-block;
        margin-right: $margin-bottom-xs;
        color: $green;
        min-width: 15px;
      }
    }

    > * + * {
      border-left: solid 1px $border-gray;
    }

    .target-cnt, .fact-cnt, .done-cnt {
      min-width: $col-width;
      text-align: center;
      font-weight: bold;
    }

    &.attention .fact-cnt {
      color: white;
      background: lighten(red, 20%);
    }

  }

  h4.article {
    position: sticky;
    top: 0;
    background: $white;
  }

}
