@import "../../../styles/variables";

.cog-button {
  width: 125px;
}

.sales-navs {

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  min-height: 33px;

  > *, .salesman-menu {
    @extend %rounded-borders;
  }

  .salesman-menu {
    margin-left: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: stretch;
    background-color: #f5f5f5;
  }

  .salesman-menu {
    font-size: 14px;
    padding: 11px 15px;
    font-weight: normal;
  }

  @include responsive-only(xxs) {

    .salesman-menu {

      font-size: 21px;
      font-weight: 500;
      padding: 7px 10px;

      .caret {
        display: none;
      }

    }

  }

  .salesman-menu.no-options {
    display: none;
    margin-left: 0;
  }

  > .catalogue-settings {

    width: 38px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    color: $active-color;
    cursor: pointer;
    background-color: #f5f5f5;
    min-height: 33px;
    padding: 8px;

    > i {
      font-size: 21px;
      top: 0;
    }

  }

  .popover-content button {
    display: block;
    width: 100%;
    min-width: 130px;
  }

  .popover-content button + button {
    margin-top: 10px;
  }

  > .catalogue-settings:hover {
    color: $active-color;
  }

}

salesman-menu {

  .popover {
    padding: 5px;
    top: 47px !important;
  }

  .salesman-popover {
    min-width: 175px;
  }

  .popover-content {
    padding: 0;

    .cancel-button {
      margin: 4px 0;
    }

    .option {
      outline: 0;
      padding: 1px 10px;
      span {
        display: block;
        padding: 7px 0;
        color: $black;
      }
    }

    .option:not(.current):hover {
      background-color: #f5f5f5;
    }

  }
}
