@import "../../../styles/variables";

.visits {

  .visit {
    .not-finished {
      color: $red;
    }
  }

  .questionSets {
    @include responsive-only(gt-xs) {
      margin-top: 10px;
    }
  }

  .visitPhotos {
    @media (max-width: $screen-xs) {
      .thumbnail {
        margin-bottom: $margin-bottom-xs;
      }
    }
  }

  h3.outlet {
    //@extend .ellipsis;
    small {
      @media (max-width: $screen-xs) {
        display: block;
        margin: $margin-bottom-xs 0 0;
      }
    }
    @include responsive-only(xxs) {
      margin-bottom: 0;
    }
  }

  hr {
    border: none;
  }

  h3.buttons {
    display: flex;
    justify-content: space-between;
    > * + * {
      margin-left: 10px;
    }
  }

}
