.warehouse-article-list

  .list-group.scroll-y(
  resize resize-offset-top="5"
  vs-repeat="74"
  )
    a.list-group-item(
    href
    ng-repeat='item in vm.articlesFiltered track by item.id'
    ng-click="vm.articleClick(item)"
    )
      .title
        warehouse-article(ng-model="item")
        //.name {{ ::item.name }}
      .footer
        i.has-barcode.glyphicon.glyphicon-barcode(ng-if="item.barcodes.length")
        .producer {{ item.producer.name }}
