div.wrapper(cycle-gallery)

  div.slider(cycle-gallery-holder)
    div.gallery-item(gallery-repeater="item in vm.photos")
      h1() {{item.id}}

  div.buttons
    button.action-button.next(gallery-button="next") next
    button.action-button.prev(gallery-button="prev") prev
    button.action-button.next.animate(gallery-button="animateNext") Animate next
    button.action-button.prev.animate(gallery-button="animatePrev") Animate prev
