h2.flex
  a(href ui-sref='photos.stream' ng-class='{disabled: vm.hideNavs}') Фотопоток
  span.flex-1
  small.gray.ml-10
    a.p-6(href='' ui-sref='home' ng-class='{disabled: vm.hideNavs}')
      i.glyphicon.glyphicon-home

hr.clear-both

.pull-right.ui-view(style='width: 100%')

section#scroll-main(
resize
style='height: {{windowHeight - 8 -38 }}px; max-width: {{ vm.hideStream ? "0" : "100%" }};'
cg-busy='vm.busy'
)
  .vr-parent(vs-repeat='340' vs-scroll-parent="#scroll-main")
    .stream-photo.text-center(ng-repeat='pic in vm.photos track by pic.id')
      h4.text-left
        .lead
          .pull-right
            small {{ vm.pics(pic).visit.deviceCts | amUtc | amLocal | amCalendar }}
          span {{ vm.pics(pic).visit.outlet.partner.shortName || 'Неизвестный визит' }}
          = ' '
          .small.darkgray {{ ::vm.pics(pic).visit.outlet.address }}
      a.thumbnail.pull-right(ng-click='vm.thumbnailClick(pic)')
        img(ng-src='{{ ::vm.pics(pic).src }}')
