.photo-stream.scroll-y(
cg-busy='vm.cgBusy'
resize resize-offset-top='5' resize-property='height'
)
  .vr-parent(vs-repeat='340' ng-if='vm.photos.length')
    .stream-photo.text-center(ng-repeat='pic in vm.photos track by pic.id')
      h4.text-left
        .lead
          .clear-both {{ vm.cachedVisit(pic).outlet.partner.shortName || 'Неизвестный визит' }}
          = ' '
          .small.darkgray
            .ml-em.pull-right.black {{ pic.visit.deviceCts | amUtc | amLocal | amCalendar }}
            span {{ pic.visit.outlet.address }}
      a.thumbnail.pull-right(ng-click='vm.thumbClick(pic)')
        img(ng-src='{{ pic.srcThumbnail }}')

  .empty(ng-if='!vm.busy && !vm.photos.length')
    .alert.alert-info.centered
      span Здесь будут отображены фотографии
      span &nbsp;
      a(href ui-sref='sales.visits') визитов
