.pull-right.ui-view(style='width: 100%')

section#scroll-main(
resize
style='height: {{windowHeight - offsetTop - 5}}px; max-width: {{ vm.hideStream ? "0" : "100%" }};'
)
  .vr-parent(vs-repeat='340' vs-scroll-parent="#scroll-main" ng-if='vm.photos.length')
    .stream-photo.text-center(ng-repeat='pic in vm.photos track by pic.id')
      h4.text-left
        .lead
          .clear-both {{ vm.pics(pic).visit.outlet.partner.shortName || 'Неизвестный визит' }}
          = ' '
          .small.darkgray
            .ml-em.pull-right.black {{ vm.pics(pic).visit.deviceCts | amUtc | amLocal | amCalendar }}
            span {{ ::vm.pics(pic).visit.outlet.address }}
      a.thumbnail.pull-right(ng-click='vm.thumbnailClick(pic)')
        img(ng-src='{{ ::vm.pics(pic).src }}')
