@import "variables";

sales-targets-report {

  display: block;

  min-height: 580px;
  $border: solid 1px $border-gray;
  $col-width: 90px;

  .filters {
    display: flex;
    align-items: center;

    > * + * {
      margin-left: $margin-bottom-xs;
    }

    .sale-type {
      padding: 6px;
      border: solid 1px $border-gray;
      border-radius: $border-radius;
    }

  }

  .report-body {
    margin-top: $margin-bottom-xs;
  }

  .field, .sale-type, .period {
    font-size: 16px;
    font-weight: bold;
  }

  .header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: $white;

    > * + * {
      padding: $margin-bottom-xs;
      font-size: 80%;
      min-width: $col-width;
    }

    .name {
      min-width: 300px;
    }

    border-bottom: $border;
  }

  .target-group, .target {
    display: flex;
    padding: 3px 0;
  }

  .target-group + .target-group, .target + .target {
    border-top: $border;
  }

  .target-group .name {
    min-width: 150px;
    max-width: 150px;
  }

  .cnt {
    padding: 0 $margin-bottom-xs;
    text-align: center;
    min-width: $col-width;
  }

}
