@import "../../styles/variables";

.ng-gallery-fullscreen {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;

  * {
    outline: none;
  }

  @extend .no-select;

}

.ng-gallery {

  display: flex;
  flex-direction: row;
  justify-content: center;

  .left-right-chevron {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    &:hover {
      text-decoration:none;
    }

  }

  .window-controls {
    position: fixed;
    right: 0;
    margin: 1px;
  }

  .main-view {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;

    .main-photo-block {

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex: 1;
      width: 100%;

      .progress-bar-wrapper {

        flex: 1;
        width: 200px;

        .progress-bar {
          //top: 50%;
          width: 100%;
        }

      }

      img.fullsize {
        height: auto;
        overflow: auto;
        width: auto;
        margin: 1em;
        flex: 1;
        object-fit: contain;
        max-width: 100%;
      }

    }

    .image-info {

      text-align: center;
      margin: 0;
      font-size: smaller;

      .name {
        color: gray;
      }

      .index {
        font-weight: bold;
        margin-bottom: 0;
        @include responsive-only(lt-sm) {
          display: none;
        }
      }


    }

    .ng-thumbnails-wrapper {

      min-width: 100px;
      max-width: 520px;
      padding: 15px;
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      @include responsive-only(lt-sm) {
        display: none;
      }

    }

    #ng-thumbnails-scroll {

      width: 100%;
      height: 70px;
      flex-flow: row nowrap;
      display: flex;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      .ng-thumbnail {

        border-radius: 4px;
        background: white;
        width: 70px;
        height: 70px;
        border: 1px solid $border-gray;
        margin-right: 2px;

        img {
          width: 66px;
          height: 66px;
          cursor: pointer;
          opacity: 0.5;
          object-fit: contain;
          padding: 2px;
        }

        &:hover, &.active {
          border-color: darken($border-gray, 20%);
          img {
            opacity: 1;
          }
        }

      }

    }

  }

  .flex-center {
    justify-content: center;
  }

  $offset: 187;
  $duration: 1.4s;

  .spinner {
    animation: rotator $duration linear infinite;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: $active-color;
    }
    100% {
      stroke: lighten($active-color, 20%);
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }

}
