h2.root-navbar(ng-hide='vm.hide' ng-class='{disabled: vm.hideNavs}')

  a.home(href ui-sref='home' ng-class='{disabled: vm.isRootState}')
    b.glyphicon.glyphicon-home

  a(href ng-click='vm.rootClick()' ng-class='{disabled: vm.isRootState}')
    | {{ vm.title }}

  .separator

  syncer-indicator

  fullscreen-menu(ng-show='vm.isRootState')

  // TODO: add component config option to unhardcode domain content
  .sales-navs(ng-if='vm.isSalesState')

    settings-popover(ng-if='vm.isCatalogueState')
    campaign-popover(ng-if='vm.isCatalogueState')

    salesman-menu

hr
