h2.root-navbar-items.root-navbar.display-flex(ng-hide='vm.hide' ng-class='{disabled: vm.hideNavs}')

  a(href ui-sref='home' ng-class='{disabled: vm.isRootState}')
    b.glyphicon.glyphicon-home

  a(href ng-click='vm.rootClick()' ng-class='{disabled: vm.isRootState}')
   | {{ vm.title }}

  .flex-1

  fullscreen-menu(ng-if='vm.isRootState')

  salesmans-menu

hr
