h2.root-navbar(ng-hide='vm.hide' ng-class='{disabled: vm.hideNavs}')

  .flex-1
    a(href ui-sref='home' ng-class='{disabled: vm.isRootState}')
      b.glyphicon.glyphicon-home

  a(href ng-click='vm.rootClick()' ng-class='{disabled: vm.isRootState}')
   | {{ vm.title }}

<<<<<<< HEAD
  .flex-1.content-float-right
    fullscreen-menu(ng-show='vm.isRootState')
    salesmans-menu
=======
  .separator

  fullscreen-menu(ng-show='vm.isRootState')

  salesmans-menu
>>>>>>> saleOrdersMerged

hr
