a(
href
uib-popover-template="'app/components/navbar/salesmanPopover.html'"
popover-placement='bottom-right'
popover-trigger='outsideClick'
popover-is-open='vm.isOpen'
)
  span {{ vm.toggleLabel() }}
  span.caret()
