.page-header(ng-if='vm.header')
  h2
    div {{ vm.header.title }}
    small {{ vm.header.small }}
.row
  .col-sm-6.col-md-4(ng-repeat='item in vm.items track by item.state' ng-if='vm.isVisible(item)')
    button.btn.btn-default.btn-block.thumbnail.btn-lg(
    ui-sref='{{ ::item.state }}'
    )
      .caption
        span {{ ::item.title }}
        .badge(ng-if='item.badge') {{ item.badge }}
