section.ui-view(cg-busy='vm.cgBusy')

  #scroll-main.scroll-y(
    resize
    resize-offset-top='10'
    resize-property='max-height'
    ng-if='vm.data.length'
  )
    .routes
      .route(ng-repeat='route in vm.data track by route.id')

        .date
          a(href ng-click='vm.selectRoute(route)') {{ route.date | amUtc | amLocal | amCalendar }} ({{route.routePoints.length}} точек)
        hr
