@import "../../../styles/variables";

.campaigns {

  $thumb-size: 130px;
  $margin: 20px;

  .scroll-y.selectivity-increasing-class {

    position: relative;
    padding-top: 12px;
    margin-top: 10px;

    .campaign {

      padding: $margin;
      border-radius: $border-radius;
      background: $gray-background-color;

      .campaign-name {
        display: flex;
        flex-flow: row nowrap;
      }

      & + .campaign {
        margin-top: $margin;
      }

    }

    .no-data {
      text-align: center;
      font-weight: 400;
      padding: 40px;
      margin-top: 10px;
      border-radius: 10px;
      background: $gray-background-color;
    }

  }

  .title {

    font-size: 120%;
    font-weight: bold;

    .name {
      color: lighten($black, 15%);
    }

    .commentText {

      cursor: pointer;
      color: #4290d0;
      font-size: smaller;
      margin: 5px 0 0 5px;

      i {
        display: inline;
      }
    }

  }

  .pictures {

    margin-top: $margin/2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    @include responsive-only(xxs) {
      justify-content: center;
    }

    .thumb {

      margin: 6px 12px 6px 0;

      display: inline-block;
      width: $thumb-size;
      height: $thumb-size;
      border: solid 1px $state-info-border;
      text-align: center;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: contain;
      }

    }

  }

}
