section

  table.table.table-striped.clear-both.table-hover
    tbody
      tr.clickable(
      ng-repeat='campaignGroup in vm.campaignGroups | orderBy:"-name"'
      ng-click='vm.campaignGroupClick(campaignGroup)'
      )
        td
          div {{ campaignGroup.name }}
