sa-keyboard {

  display: block;

  .sa-keyboard {

    margin-left: -2px;
    margin-right: -2px;

    display: flex;
    flex-direction: column;

    > .sa-keyboard-row {

      display: flex;
      align-items: center;

      > * {
        flex: 1;
      }

      .btn[disabled] {
        opacity: 0.5;
      }

    }

  }

}
