.sa-keyboard

  .sa-keyboard-row(ng-repeat='row in vm.buttons track by $index')

    .num-pad-button(ng-repeat='b in row track by $index')

      button.btn.btn-default.btn-block(
      ng-click='vm.onClick(b)'
      ng-if='b.label || b.i'
      ng-disabled='vm.isDisabled(b)'
      ) {{ b.label }}
        i(ng-if='b.i' ng-class='b.i')
