.num-pad-button {

  padding: 2px;

  .btn {

    padding: 15px;
    font-size: x-large;
    font-weight: bold;
    color: gray;

    i {
      top: 3px;
    }

  }

}

volume-pad {
  margin: 15px 0;
}

@media (min-width: 510px) {

  volume-pad {
    margin: 20px 0 20px auto;
    max-width: 290px;
  }

}

