@import "variables";

.popover .price-edit-popover {
  padding-top: 6px;
}

.price-edit-popover {

  .btn-default {
    background: none;
  }

  sa-keyboard {

    margin-top: 10px;
    margin-bottom: 0;

    .num-pad-button .btn {
      font-size: 100%;
      padding: 10px;
      color: $black;
    }

  }

  .inputs {

    .discount-scope {

      width: 100%;
      margin: 0 0 6px;

      > a {

        margin-left: 0 !important;
        padding: 6px;
        text-align: center;

        &.active .gray {
          color: $gray-border-color;
        }

      }

      .gray {
        font-size: 80%;
      }

    }

    .form-group {

      display: flex;
      align-items: center;

      label {
        flex: 1;
        margin-bottom: 0;
        color: inherit;
        text-align: left;
      }

      #price-edit-discount {

        padding-top: 6px;
        max-width: 63px;
        text-align: center;
        margin: 0;
        color: $primary-color;

        > * {
          margin-left: 0;
        }

        span {
          margin-left: 2px;
        }

      }

      a.btn {
        width: auto;
        padding: 6px;
        color: $primary-color;
        i {
          top: 2px
        }
        background: none;
      }

      .input-group {
        margin: 4px 0 2px 6px;
        display: flex;
        justify-content: flex-end;
        //align-items: center;

        a {
          margin: 0;
        }

        .input-group-addon {

          font-size: 80%;
          padding-top: 9px;

          span {
            margin-left: 2px;
            color: $gray;
          }

        }

        * + .input-group-addon {

          margin-left: 0 !important;
          border-left: none;

        }

      }

      span.form-control {
        height: auto;
      }

    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

  }

  .form-control {

    display: inline-block;
    text-align: right;
    width: 80px;
    margin: 2px 0 2px 4px;
    padding: 5px;

    &.ng-invalid {
      border-color: red;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6)
    }

  }

  .form-group {
    label {
      font-weight: normal;
    }
    text-align: right;
    margin: 0;
  }

  span.form-control {
    border: none !important;
    box-shadow: none;
  }

  .extras {
    border-top: solid thin $border-gray;
    text-align: right;
  }

}

// FIXME: copy-pasted from quantity-edit

.price-edit {

  display: inline-block;


  .popover-content {

    padding: 0;

    .inputs {
      padding: 4px 10px;
    }
    .extras {
      padding: 4px 10px;
    }

  }
  div.popover {
    min-width: 200px;
  }

  a[disabled] .value {
    color: $black;
  }

}

.disabled {
  .price-edit {
    a {
      color: $black;
      font-weight: normal;
      filter: none;
    }
    .caret {
      display: none;
    }
  }
}
