@import "../../../styles/variables";

#article-groups {

  flex: 1;

  margin-bottom: 0;

  .preceding-groups, .following-groups {
    padding-left: 0;
  }

  @include responsive-only(gt-xs) {
    padding-right: 0;
    margin-right: 11px;
  }

  .block-to-collapse {

    position: absolute;
    z-index: 2; //2

    @include responsive-only(lt-sm) {
      width: 100%;
    }

  }

  .xs-ancestors {
    margin-bottom: $margin-bottom-xs;
    //@include responsive-only(gt-xs, portrait) {
    //  display: none;
    //}
  }

  div.list-group-item {

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0;

    a {

      max-width: 100%;
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
      padding: 10px 15px;
      color: $article-nav-menu-text-color;

      @include responsive-only(lt-sm) {
        padding: 7px 10px;
      }

      .badge {
        margin-left: 10px;
      }

      .name {
        @extend .ellipsis;
        min-width: 0;
        flex: 1;
      }

    }

    &.active {

      a, a:hover {
        color: #fff;
        text-decoration: none;
        span.badge {
          background-color: #fff;
          color: $active-color;
        }
      }

    }

    &:not(.active) a:hover {
      background: $gray-background-color;
      text-decoration: none;
    }

    a.chevron {

      @extend %center-vertical;
      //padding: 4px;
      height: auto;

      .glyphicon {
        top: 0;
      }

    }

    a:not(.chevron) {
      flex: 1;
      &:not(:first-child) {
        padding-left: 0;
      }

    }

    .chevron + a:not(.chevron) {
      @include responsive-only(gt-xs) {
        margin-left: -48px;
        padding-left: 48px;
      }
    }

  }

}

