@import "../../../styles/variables";

#article-groups {

  margin-bottom: 0;

  .caret {
    @extend .turnable;
  }

  @media (min-width: $screen-sm-min) {
    padding-right: 5px;
    .block-to-collapse {
      margin-right: 5px;
    }
  }

  .collapser {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
    margin-bottom: $margin-bottom-xs;
    background: none !important;
    border-color: #ccc !important;
    .caret {
      top: 0;
    }
  }

  .xs-ancestors {
    margin-bottom: $margin-bottom-xs;
    @media (orientation: portrait) and (min-width: $screen-sm-min) {
      display: none;
    }
  }

  // TODO: this all should be only in xs

  .list-group-item.with-a-inside {

    overflow: hidden;
    display: flex;
    align-items: stretch;
    padding: 0;

    a {

      cursor: pointer;
      padding: 10px 15px;
      color: $article-nav-menu-text-color;

      @media (max-width: $screen-xs-max) {
        padding: 7px 10px;
      }

    }

    &.active {

      a, a:hover {
        color: #fff;
        text-decoration: none;
        span.badge {
          background-color: #fff;
          color: $active-color;
        }
      }

    }

    &:not(.active) a:hover {
      background: $gray-background-color;
      text-decoration: none;
    }

    a.chevron {

      // this is to align vertically when name is more than 1 line
      display: flex;
      flex-direction: row;
      align-items: center;

      .glyphicon {
        top: 0;
      }

    }

    a:not(.chevron) {
      flex: 1;
      &:not(:first-child) {
        padding-left: 0;
      }
    }

  }

  .block-to-collapse {

    position: absolute;
    z-index: 2;

    background: white;

    left: 15px;
    right: 15px;

    @media (min-width: $screen-xs-max) {
      right: -5px;
      padding-right: 5px;
    }

    @media (orientation: portrait) and (min-width: $screen-sm) {
      .hidden-xs {
        display: none;
      }
    }

  }

}

.iOS {
  #article-groups {
    .block-to-collapse {
      left: 10px;
      right: 10px;
      @media (min-width: $screen-xs-max) {
        right: -5px;
        padding-right: 5px;
      }
    }
  }
}
