@import "../../../styles/variables";

.sale-order-expanded {

  .name {
    small {
      opacity: 0;
    }
  }
}

.name {
  small {
    transition: all linear $short-duration*2;
    opacity: 1;
  }
}

.sale-order-collapsible {

  .form-group:first-of-type {
    margin-top: 15px;
    @media (max-width: $screen-xs) {
      margin-top: $margin-bottom-xs;
    }
  }

  .form-group:last-of-type {
    margin-bottom: 0;
  }

  label {
    color: gray;
  }

  .form {

    padding: 15px;
    height: 360px;

    @media (max-width: $screen-xs-max) {
      padding: $margin-bottom-xs;
    }

    .uib-datepicker-popup {

      .uib-button-bar {
        button.btn.uib-datepicker-current[type] {
          display: none;
        }
        button.btn.uib-clear {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }

    }

  }

  position: absolute;
  z-index: 5;

  background-color: #f5f5f5;
  border: solid 1px #f5f5f5;
  left: 0;
  right: 0;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.catalogue-sale-order {

  @extend .display-flex;
  min-width: 0;

  & + .menu {
    margin-left: 15px;
    font-size: 22px;
    margin-top: 4px;
  }

  @media (max-width: $screen-xs-max) {
    & + .menu {
      margin-left: 10px;
    }
  }

  .outlet {
    min-width: 0;
    .popover {
      input {
        margin-top: 8px;
        min-width: 250px;
      }
      @media (min-width: $screen-sm-min) {
        width: 370px;
      }
    }
  }

  sale-order-popover > a {
    @extend .display-flex;
    //align-items: flex-end;
    > ng-transclude {
      min-width: 0;
    }
    > .caret {
      flex: 1;
    }
    .strong {
      color: inherit;
    }
  }

  .address {
    @extend .ellipsis;
  }

  .totals {
    min-width: 7em;
  }

  @media (max-width: $screen-xs) {

    display: block;

    > * {
      display: block;
    }

    .totals {
      margin-top: $margin-bottom-xs;
    }

  }

}
