@import "../../../styles/variables";

.sale-order-collapsible {

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;

  background-color: $gray-background-color;
  border: solid 1px $gray-background-color;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .form-group {

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 3px;
      label {
        font-size: 12px;
        font-weight: normal;
        padding-top: 0;
      }
    }

  }

  label {
    color: gray;
  }

  .form {

    overflow-x: hidden;
    padding: 15px;

    @media (max-width: $screen-xs-max) {
      padding: $margin-bottom-xs/2 $margin-bottom-xs;
    }

  }

  .buttons {

    text-align: right;

    margin-top: $margin-bottom-xs/2;
    padding: $margin-bottom-xs $margin-bottom-xs*2;

    @media (max-width: $screen-xs) {
      padding: $margin-bottom-xs;
    }

    border-top: solid 1px darken($border-gray, 5);
    background-color: $gray-background-color;

    @media (max-width: $screen-xs) {
      button {
        display: block;
        width: 100%;
      }
      button + button {
        margin-top: $margin-bottom-xs;
      }
    }

  }

}

.catalogue-sale-order {

  @extend .display-flex;
  min-width: 0;

  & + .menu {
    margin-left: 15px;
    font-size: 22px;
    margin-top: 4px;
  }

  @media (max-width: $screen-xs-max) {
    & + .menu {
      margin-left: 5px;
    }
  }

  .outlet {
    min-width: 0;
    margin-right: 15px;
    .popover {
      input {
        margin-top: 8px;
        min-width: 250px;
      }
      @media (min-width: $screen-sm-min) {
        width: 370px;
      }
    }
  }

  sale-order-popover > a {
    @extend .display-flex;
    //align-items: flex-end;
    > ng-transclude {
      min-width: 0;
    }
    > .caret {
      //flex: 1;
    }
    .strong {
      color: inherit;
    }
  }

  .address {
    @extend .ellipsis;
  }

  .totals {
    margin-right: 15px;
    flex: 1;
    text-align: right;
  }

  @media (max-width: $screen-xs) {

    display: block;

    > * {
      display: block;
    }

    .totals {
      font-size: 12px;
      margin-top: $margin-bottom-xs;
      text-align: left;
    }

  }

}
