@import "../../../styles/variables";

.catalogue {

  .collapser {

    @media (min-width: $screen-sm-min) {
      display: none;
    }

    text-align: right;
    padding: 8px;

    //font-size: 14px;
    //font-weight: 500;
    //line-height: 1.1;

    //margin-bottom: 10px;

    .caret {
      @extend .turnable;
      top: 1px;
    }
  }

  .breadcrumb {
    > li.ancestor, > li.active {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &.saleOrder .breadcrumb {
    @media (orientation: landscape) {
      display: none;
    }
  }

  .popover {
    @media (min-width: $screen-sm-min) {
      max-width: 370px;
      min-width: 370px;
    }
    @media (max-width: $screen-xs-max) {
      min-width: 276px
    }
  }

  > .animate-show {
    &.ng-hide:not(.ng-hide-animate) {
      display: block !important;
    }
    &.ng-hide {
      @extend a.disabled;
      opacity: 0.2;
      .scroll-y {
        overflow-y: hidden;
      }
    }
  }

}
