@import "../../../styles/variables";

.catalogue {

  .collapser {

    @media (min-width: $screen-sm-min) {
      display: none;
    }

    text-align: left;
    padding: 0 10px;

    a > * {
      padding: 8px 0;
    }

    span:not(.caret) {
      display: block;
      margin: 0 10px 0 0;
      @extend .ellipsis;
    }

    .caret {
      float: right;
      @extend .turnable;
      top: 4px;
    }

  }

  .breadcrumb {
    > li.ancestor, > li.active {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &.saleOrder .breadcrumb {
    @media (orientation: landscape) {
      display: none;
    }
  }

  .popover {
    @media (min-width: $screen-sm-min) {
      max-width: 370px;
      min-width: 370px;
    }
    @media (max-width: $screen-xs-max) {
      min-width: 276px
    }
  }

  > .animate-show {
    &.ng-hide:not(.ng-hide-animate) {
      display: block !important;
    }
    &.ng-hide {
      @extend a.disabled;
      opacity: 0.2;
      .scroll-y {
        overflow-y: hidden;
      }
    }
  }

}
