@import "../../../styles/variables";

.sale-orders {

  > #scroll-main {
    margin-top: 5px;
  }

  .tinyName {
    white-space: nowrap;
  }

}

.sale-order-details {

  sale-order-alert .totals {

    .toggle-edit {
      margin-left: 6px;
    }

    .has-positions {

      white-space: nowrap;

      .info {
        display: inline;
        white-space: normal;
      }

    }

  }

  #scroll-main {
    padding-bottom: 15px;
  }

  .discount {
    color: green;
    margin-right: 4px;
  }

}


.sale-order.alert {
  .processingMessage {

    margin-bottom: $margin-bottom-xs;

    i + span {
      margin-left: 1em;
    }

  }
}

.popovers {
  .processing {

    display: inline-block;
    color: white;
    background-color: gray;
    border-radius: $border-radius/2;
    border: solid 1px lighten(gray, 10%);
    padding: 4px 8px;

    &.blue {
      color: white;
      background-color: $active-color;
      border-color: lighten($active-color, 10%);
    }

    i + span {
      margin-left: $margin-bottom-xs/2;
    }

  }
}

.processing {
  span + span i {
    margin-left: $margin-bottom-xs/2;
  }
}
