.sale-order-popover {

  .option {
    //min-width: 260px;
  }

  .new-item {

    text-align: right;

    .btn {
      display: block;
      padding: 4px 8px;
      width: 100%;
      span {
        top: -2px;
        position: relative;
        display: inline-block;
      }
      i {
        font-size: 19px;
      }
    }

  }

  .address {
    @extend .ellipsis;
  }

}
