@import "../../../styles/variables";
@import "../../../styles/flags";

.sale-orders {

}

.sale-order-details {

  sale-order-alert .totals {

    .toggle-edit {
      margin-left: 6px;
    }

    .has-positions {

      white-space: nowrap;

      .info {
        display: inline;
        white-space: normal;
      }

    }

  }

  #scroll-main {
    padding-bottom: 15px;
  }

  .discount {
    color: green;
    margin-right: 4px;
  }

  .flag {
    @extend %flag;
  }

  td.price > * {

    @extend %flex-row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

  }

  .price, .cost {
    @include responsive-only(lt-sm) {
      display: none;
    }

    currency-value {
      flex: 1;
      strong {
        font-weight: normal;
      }
    }
  }

}


.sale-order.alert {
  .processingMessage {

    margin-bottom: $margin-bottom-xs;

    strong + span {
      margin-left: 1em;
    }

    padding-right: 15px;

    @include responsive-only(lt-sm) {
      padding-right: 10px;
    }

    button {
      right: 0;
    }

  }
}

.popovers {
  .processing {

    display: inline-block;
    color: $gray;
    background-color: $gray-background-color;
    border-radius: $border-radius/2;
    border: solid 1px darken($gray-background-color, 10%);
    padding: 4px 8px;
    margin-top: 1px;
    margin-bottom: 1px;

    &.blue, &.info {
      background-color: $state-info-bg;
      border-color: $state-info-border;
      color: $state-info-text;
    }

    &.green, &.success {
      background-color: $state-success-bg;
      border-color: $state-success-border;
      color: $state-success-text;
    }

    i + span {
      margin-left: $margin-bottom-xs/2;
    }

  }
}

.processing {

  span + span i {
    margin-left: $margin-bottom-xs/2;
  }

  &.blue {
    color: $info-color;
  }
}
