@import "../../../styles/variables";
@import "../../../styles/flags";

#scroll-articles {

  max-height: 100%;

  &.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    @extend a.disabled;
  }

  /* Styles for ng-gallery thumbnail*/

  a.thumb {
    margin: 1px 10px 1px 1px;
  }

  img {

    margin: -1px !important;

    outline: 0;
    width: 70px;
    height: 68px;
    object-fit: contain;

    @include responsive-only(lt-sm) {
      max-width: 49px;
      max-height: 48px;
    }

  }
  img.no-image {
    pointer-events: none;
    filter: brightness(2);
  }

  &.animate-show.ng-hide-remove {
    transition: all ease-in 0.5s;
  }

  .list-group-item {

    min-height: 80px;
    @media (max-width: $screen-xs-max) {
      min-height: 74px;
    }

    padding: 0 10px;

    @include responsive-only(xxs) {
      a.thumb {
        position: absolute;
        top: 5px;
        left: 5px;
        img {
          max-width: 40px;
          max-height: 40px;
        }

      }

      a.thumb + .article-wrapper {
        margin-left: 40px
      }

    }

  }

  [disabled] .right {
    pointer-events: none;
    opacity: 0.5;
  }

  .right {

    margin-left: 1em;
    text-align: right;

    button {
      padding: 3px 5px;
      font-size: 13px;
      line-height: 1.5;
      border-radius: 3px;
      display: block;
      color: #777777;
      width: 100%;
      position: relative;

      &:first-child {
        top: -2px;
      }

      &:last-child {
        bottom: -2px;
      }

    }

    button + button {
      margin-top: 4px;
    }

  }

  .article-name-third {

    display: flex;
    justify-content: flex-end;

    & > div {
      display: flex;
      overflow: scroll;

      & > i.red {
        padding-left: 1px;
        top: 0;
      }

      & > small.gray > span {
        white-space: nowrap;
      }

    }

    small span.gray {
      margin: 0 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .article-wrapper {
    @extend .flex-1;
    min-width: 0;
  }

  .article-name-first {

    display: flex;

    .name-first {
      @extend .ellipsis;
      flex-shrink: 1;
    }

    .article-info {
      margin-left: 5px;
      white-space: nowrap;
      flex-shrink: 0;
      flex-grow: 1;
      > *:last-child {
        margin-right: 1em;
      }
    }

    quantity-edit {
      flex-shrink: 0;
      white-space: nowrap;
    }

  }

  .lowStock {
    .name-first, .article-info, .article-name-second > small {
      opacity: 0.5;
    }
  }

  .article-name-second {
    color: gray;
    display: inline-block;
    max-width: 100%;
    @extend .ellipsis;

    .tooltip-inner {
      overflow: visible;
      white-space: normal;
    }
  }

  .discount {
    color: green;
  }

  .nowrap {
    white-space: nowrap;
  }

  price-edit {
    margin-left: 4px;
    display: inline;
    font-size: 85%;
  }

  .compDiscount {

    &.flag {
      background-color: $state-info-bg;
      color: $state-info-text;

      &:hover {
        background-color: $state-info-bg;
      }
    }

    @extend %flaggable;

  }

  .article-name-second .tag {

    color: $primary-color;

    border: solid 1px $border-gray;
    padding: 0 5px;
    display: inline-block;
    background: none;
    border-radius: 3px;
    margin-top: -1px;

    &.gift {
      a {
        color: $red !important;
      }
      //text-transform: uppercase;
      font-weight: bold;
    }

  }

  .pieceVolume {
    color: $primary-color;
    font-weight: bold;
  }

}
