@import "../../../styles/variables";

#scroll-articles {

  max-height: 100%;

  &.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    @extend a.disabled;
  }

  /* Styles for ng-gallery thumbnail*/

  .thumbnails {
    margin-right: 10px;

    a {
      margin: 1px;
    }

  }

  img {

    margin: -1px !important;

    outline: 0;
    width: 70px;
    height: 68px;
    object-fit: contain;

    @include responsive-only(lt-sm) {
      max-width: 49px;
      max-height: 48px;
    }

  }
  img.no-image {
    pointer-events: none;
    filter: brightness(2);
  }

  &.animate-show.ng-hide-remove {
    transition: all ease-in 0.5s;
  }

  .list-group-item {

    min-height: 80px;
    @media (max-width: $screen-xs-max) {
      min-height: 74px;
    }

    padding: 0 10px;

    @include responsive-only(xxs) {
      ng-gallery {
        position: absolute;
        top: 5px;
        left: 5px;
        img {
          max-width: 40px;
          max-height: 40px;
        }

      }

      ng-gallery + .article-wrapper {
        margin-left: 40px
      }

    }

  }

  [disabled] .right {
    * {
      visibility: hidden;
    }
  }

  .right {

    margin-left: 1em;
    text-align: right;

    button {
      padding: 3px 5px;
      font-size: 13px;
      line-height: 1.5;
      border-radius: 3px;
      display: block;
      color: #777777;
      width: 100%;
    }

    button + button {
      margin-top: 4px;
    }

  }

  .article-name-third {

    display: flex;
    justify-content: flex-end;

    & > div {
      display: flex;
      overflow: scroll;

      & > i.red {
        padding-left: 1px;
        top: 0;
      }

      & > small.gray > span {
        white-space: nowrap;
      }

    }

    small span.gray {
      margin: 0 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .article-wrapper {
    @extend .flex-1;
    min-width: 0;
  }

  .article-name-first {

    display: flex;

    .name-first {
      @extend .ellipsis;
      flex-shrink: 1;
    }

    .article-info {
      margin-left: 5px;
      white-space: nowrap;
      flex-shrink: 0;
      flex-grow: 1
    }

    quantity-edit {
      flex-shrink: 0;
      white-space: nowrap;
    }

  }

  .article-name-second {
    color: gray;
    @extend .ellipsis;

    .tooltip-inner {
      overflow: visible;
      white-space: normal;
    }
  }

  .discount {
    color: green;
  }

  .nowrap {
    white-space: nowrap;
  }

}
