@import "../../../styles/variables";
@import "../../../styles/flags";

.contract-view {

  $headers-salesman-contracts: (
      (0.3, 'salesman'),
      (0.3, 'contract'),
      (0.2, 'credit-limit'),
      (0.2, 'credit-remains')
  );

  @mixin initTableElementDimensions($headers) {

    @each $width, $class in $headers {

      $flex-basis: 100px * $width * 10;

      .#{$class} {
        flex: $width;
        flex-basis: $flex-basis;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.headers {
        > :last-of-type {
          text-align: right;
        }
      }

    }

  }

  .headers {

    font-weight: bold;
    display: none;

    @include initTableElementDimensions($headers: $headers-salesman-contracts);

    @include responsive-only(gt-xs) {

      display: flex;
      border-bottom: 2px solid $gray-border-color;
      padding-bottom: 8px;

    }

  }

  .contract {

    .contract-body {

      &:hover {
        cursor: default;
        background-color: transparent;
      }

      padding: 3px 0;
      color: black;
      cursor: pointer;
      border-bottom: 1px solid #ddd;

      > div {

        display: flex;

        @include responsive-only(gt-xs) {
          label {
            display: none;
          }
        }

        label {
          font-weight: normal;
          flex: 1;
        }

      }

      .credit-remains {
        justify-content: flex-end;
      }

      @include responsive-only(gt-xs) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

      @include initTableElementDimensions($headers: $headers-salesman-contracts);

    }
  }

}

