@import "../../styles/variables";
@import "../../styles/mixins";

.territory {
  h5 > a.lead {
    color: $dark-blue;
    font-weight: 500;
    text-transform: uppercase;
  }

  .vr-parent .address {
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

navbar h2 a.inherit-colors, .p-6, .hashes .btn-default {
  color: $dark-blue;
  font-weight: 500;
}

.haveVisit button span {
  background-color: limegreen;
  border-radius: 64px;
  color: black;
}

.today button span {
  background-color: deepskyblue;
  border-radius: 64px;
  color: black;
}

#article-groups {

  margin-bottom: 0;

  .collapser {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
    margin-bottom: $margin-bottom-xs;
    background: none !important;
    border-color: #ccc !important;
  }

  .xs-ancestors {
    margin-bottom: $margin-bottom-xs;
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  .block-to-collapse {

    position: absolute;
    z-index: 1000;

    background: white;

    margin-right: 15px;
    margin-left: 15px;

    right: 0;
    left: 0;
  }

}

.iOS {
  #article-groups {
    .block-to-collapse {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

#scroll-articles {

  max-height: 100%;

  &.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    @extend a.disabled;
  }

  &.animate-show.ng-hide-remove {
    transition: all ease-in 0.5s;
  }

  .right {

    margin-left: 1em;
    text-align: right;

    button {
      padding: 3px 5px;
      font-size: 13px;
      line-height: 1.5;
      border-radius: 3px;
      display: block;
      color: #777777;
    }

    [angular-ripple] {
      overflow: visible;
    }

    button + button {
      margin-top: 4px;
    }

  }

  .article-name-second {
    color: gray;
  }

  .article-name-third {
    text-align: right;
  }

}

.catalogue-sale-order {

  .outlet {
    min-width: 0;
  }

  .address {
    @extend .ellipsis;
  }

  .totals {
    min-width: 7em;
  }

  @media (max-width: $screen-xs) {

    .display-flex,
    .display-flex > * {
      display: block;
    }

    .totals {
      margin-top: $margin-bottom-xs;
    }

  }


}

.catalogue {

  .breadcrumb {
    > li.ancestor, > li.active {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  .popover {
    min-width: 250px;
    @media (min-width: $screen-sm-min) {
      max-width: 400px;
    }
  }

}

.caret {
  @extend .turnable;
}
