@import "../../styles/variables";

.territory {
  h5 > a.lead {
    color: $dark-blue;
    font-weight: 500;
    text-transform: uppercase;
  }

}

navbar h2 a.inherit-colors, .p-6, .hashes .btn-default {
  color: $dark-blue;
  font-weight: 500;
}

.haveVisit button span {
  background-color: limegreen;
  border-radius: 64px;
  color: black;
}

.today button span {
  background-color: deepskyblue;
  border-radius: 64px;
  color: black;
}

#scroll-articles .right {
  margin-left: 1em;
  text-align: right;

  button {
    padding: 3px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
  }

  button + button {
    margin-top: 5px;
  }

}
