@import "../../styles/variables";

.territory {
  h5 > a.lead {
    color: $dark-blue;
    font-weight: 500;
    text-transform: uppercase;
  }

}

navbar h2 a.inherit-colors, .p-6, .hashes .btn-default {
  color: $dark-blue;
  font-weight: 500;
}

.haveVisit button span {
  background-color: limegreen;
  border-radius: 64px;
  color: black;
}

.today button span {
  background-color: deepskyblue;
  border-radius: 64px;
  color: black;
}


.visits {
  .datepicker-with-buttons {
    .buttons {
      @media (max-width: $screen-xs-max) {
        margin-top: 6px;
        .btn-block {
          //max-width: 400px;
        }
      }
    }
  }
}
