.stock-taking-item-list.list-group

  .list-group-item(
  ng-repeat='stat in vm.data track by stat.id'
  )

    .title
      a.name(href ng-click="vm.expandItemId=stat.id")
        span {{ ::stat.articleName }}
      .barcode
        //span {{ ::stat.barcode }}
        //span {{ stat.timestamp | dateTime:{seconds: true, date: false} }}
        span(ng-if='stat.packageRel') (фасовка {{ stat.packageRel }})

      .stat-items.list-group(ng-if="vm.expandItemId===stat.id")
        .list-group-item(
        ng-repeat="item in stat.items | orderBy:'-timestamp' track by item.id"
        )
          strong {{ item.volume | boxesBottles:{boxRel: item.packageRel} }}
          //span {{ item.barcode }}
          span {{ item.timestamp | dateTime:{seconds: true, date: false} }}
          //span.volume
    .volume
      strong.animate(
      sa-animate-on-change="item.volume" change-class="change-up"
      ) {{ stat.volume | boxesBottles:{boxRel: stat.packageRel} }}
