.stock-taking-item-list.list-group.scroll-y(
vs-repeat="101"
resize resize-offset-top="10"
)

  .list-group-item(
  ng-repeat='stat in vm.filteredData track by stat.id'
  id="{{::vm.statAnchorId(stat.id)}}"
  ng-class="{ active: vm.activeArticleId === stat.id }"
  )

    .title

      a.name(href ng-click="vm.statClick(stat)")
        warehouse-article(ng-model="stat.article")

    .footer

      .barcode
        span {{ stat.items.length | positionsCount }}
        span(ng-if='stat.packageRel') (фасовка {{ stat.packageRel }})

      stock-taking-article-volume(ng-model="stat")
