.article-campaigns-popover(ng-class="{'has-active': vm.variantId}")

  .variants
    .variant(
      ng-repeat="variant in vm.variants track by variant.id"
      ng-class="{ active: vm.variantId === variant.id }"
    )
      .name(ng-click="vm.onVariantClick(variant)")
        .first-name {{ ::variant.campaignName }}
        .last-name
          span(ng-if="variant.variantNumber") {{ ::variant.variantNumber }}&nbsp;
          span {{ variant.variantName }}
      .discount(ng-click="vm.onPercentClick(variant)")
        .percent {{ ::variant.variantDiscount(vm.articleId) }}
        .price {{ ::vm.discountPrice(variant) | number:2 }}

  .buttons
    a.btn.btn-link.btn-warning(
      ng-click='vm.cancelClick()'
    ) Отменить
    a.btn.btn-link(
      ng-click='vm.popoverOpen = false'
    ) Готово
