@import "variables";

article-campaigns, .article-campaigns {

  display: inline-block;
  font-size: 85%;

  a.trigger {
    @extend .ellipsis;
  }

}

.article-campaigns-popover {

  &.has-active {
    .btn-warning {
      visibility: visible;
    }
  }

  .btn-warning {
    visibility: hidden;
    color: $red;
  }

  .buttons {
    text-align: right;
    margin-top: 6px;

    display: flex;
    justify-content: space-between;

    .btn {
      padding: 0;
    }

  }

  max-height: 250px;
  min-height: 100px;
  min-width: 250px;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  .variants {
    flex: 1;
    overflow-y: scroll;
  }

  .variant {

    cursor: pointer;

    display: flex;
    border-top: solid 1px $border-gray;
    > * {
      padding: 3px 0;
    }

    min-height: 36px;

    &.active {
      .first-name:before {
        content: '✅';
      }
    }

    &:last-child {
      border-bottom: solid 1px $border-gray;
    }

    .name {
      flex: 1;
    }

    .discount {
      text-align: right;
      margin-left: $margin;
      width: 60px;
      border-left: solid 1px $gray-border-color;

      &:before {
        content: "-";
      }

      &:after {
        content: "%";
      }
    }

    .last-name {
      font-size: 85%;
      color: $gray;
    }

  }
}
