@import "../../../styles/variables";

.outlet-cashing-popover {

  $margin: 13px;

  form > * + * {
    margin-top: $margin;
  }

  .form-group {
    margin-bottom: 0;
  }

  button {
    display: block;
    width: 100%;
  }

}
