@import "../../../styles/variables";

choice-list {

  display: block;
  overflow: hidden;

  .choice-list {

    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;

    .title {
      font-weight: bold;
      margin: 10px 0;
      color: $gray;
      text-align: center;
    }

    .stm-searcher {

    }

    .scroll-y {

      min-height: 0;
      flex: 1 1 auto;

      .option.chosen {
        a {
          font-weight: bold;
        }
      }

      .option {
        .name, .address {
          @extend .ellipsis;
        }
      }

    }

  }

}
