a(
href
uib-popover-template="'app/domain/components/saleOrderPopover/saleOrderPopover.html'"
popover-trigger='outsideClick'
popover-placement='{{vm.popoverPlacement}}'
popover-is-open='vm.isSaleOrderPopoverOpen'
)
  ng-transclude
  span.caret
