a(
href
uib-popover-template="'app/domain/sales/views/catalogue/saleOrderPopover.html'"
popover-trigger='outsideClick'
popover-placement='auto bottom-right'
popover-is-open='vm.isSaleOrderPopoverOpen'
)
  ng-transclude
  span.caret
