@import "../../../styles/variables";

.visit-view {

  .visit {
    .not-finished {
      color: $red;
    }
  }

  table {

    thead > tr {

      th {
        padding-top: 0;

        &:last-of-type, &:first-of-type {
          padding-left: 0;
          padding-right: 0;
        }

      }
    }

    tbody {

      border-bottom: 1px solid $gray-border-color;

      tr {
        td:first-of-type, td:last-of-type {
          padding: 8px 0;
        }
      }

    }

  }

  .questionSets {
    @include responsive-only(gt-xs) {
      margin-top: 10px;
    }
  }

  .visitPhotos {
    @media (max-width: $screen-xs) {
      .thumbnail {
        margin-bottom: $margin-bottom-xs;
      }
    }
  }

  h3.outlet {
    //@extend .ellipsis;
    small {
      @media (max-width: $screen-xs) {
        display: block;
        margin: $margin-bottom-xs 0 0;
      }
    }
    @include responsive-only(xxs) {
      margin-bottom: 0;
    }
  }

  hr {
    border: none;
  }

  h3.buttons {
    display: flex;
    justify-content: space-between;
    > * + * {
      margin-left: 10px;
    }
  }

}
