.modal-header
  h4.modal-title
    span {{vm.title}}
    = ' '
    small {{ vm.titleSmall }}
    a(href='' ng-click='vm.cancel()')
      i.pull-right.glyphicon.glyphicon-remove
.modal-body(cg-busy='vm.busy')
  p(ng-if='vm.text') {{ ::vm.text }}
  .text-center
    img(ng-if='vm.src' ng-src='{{ ::vm.src }}' style='max-width: 100%; max-height: 500px;')
.modal-footer

  button.btn.btn-warning(
  ng-click='vm.deleteItem()'
  ng-if='vm.deleteDelegate'
  ng-class='vm.confirmationMode ? "btn-danger" : "btn-warning"'
  )
    | {{ vm.confirmationMode ? 'Да, удалить' : 'Удалить' }}
  = ' '
  button.btn.btn-primary(ng-click='vm.submit()') Закрыть
