.right
  button.btn.btn-default(stm-click='kPlusButton' angular-ripple click-payload='{stock: stock, price: vm.prices[stock.articleId]}')
    | +К
  button.btn.btn-default(stm-click='bPlusButton' angular-ripple click-payload='{stock: stock, price: vm.prices[stock.articleId]}')
    | +Б
