@import "variables";

warehouse-stock {

  display: block;

  .warehouse-stock > a {
    display: block;
  }
  
  a.list-group-item {

    display: flex;
    flex-direction: column;

    .article {
      flex: 1;
    }

    .stats {
      text-align: right;
    }

    label, .currency {
      color: $light-gray;
    }

  }

}
