button.btn.btn-primary.cog-button(
stm-click='toggleShowImages'
ng-click='vm.showImages = !vm.showImages'
)
  | {{vm.showImages ? 'Убрать фото' : 'Показать фото'}}

button.btn.btn-primary.cog-button(
stm-click='largerFont'
)
  | {{ 'Крупнее' }}

button.btn.btn-primary.cog-button(
stm-click='smallerFont'
)
  | {{ 'Мельче' }}

