@import "variables";

action-pictures {

  .action-pictures {
    display: flex;
    flex: 1;
    min-width: 0;
    &.no-labels {
      .action-picture .lbl {
        display: none;
      }
    }
  }

  action-picture {
    margin: $margin-bottom-xs;
  }

}
