@import "../../../../styles/variables";

.outlet-view {

  $padding: 5px;

  .header {

    padding: 10px 15px;
    margin: 10px 0;

    background-color: $gray-background-color;
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    @include responsive-only(xxs) {
      padding: 5px 7px;
      flex-direction: column;
    }

    .outlet {

      padding-right: 15px;
      flex: 1;
      @extend .ellipsis;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      @include responsive-only(xxs) {
        padding: 0;
      }

      .outlet-address {

        .address {
          height: 20px;
          @extend .ellipsis;
        }

        .partner-name {
          min-width: 0;
          display: flex;

          @extend .ellipsis;

          @include responsive-only(xxs) {
            justify-content: space-between;
            align-items: center;
          }

          .name {
            padding-right: 5px;
            font-size: 150%;
            @extend .ellipsis;

            @include responsive-only(xxs) {
              font-size: 130%;
            }
          }

          .outlet-buttons {

            .popover {
              max-width: 500px;
            }

            @include responsive-only(xxs) {
              > a {
                padding: 5px;
              }
            }

          }

        }

      }

      .outlet-additional-fields {
        @extend .ellipsis;

        > div {
          height: 20px;
        }

        label {
          color: $gray;
          font-weight: normal;
          margin: 0;
          margin-right: 5px;
        }

        .license-info {
          @extend .ellipsis;
        }

        .comment-text {
          strong {
            color: $state-danger-text;
          }
        }

      }
    }
    .outlet-avatar {

      display: flex;

      .thumb {

        @include responsive-only(xxs) {
          width: 100%;
        }

        display: inline-block;

        border-radius: 5px;
        padding: 5px;
        border: solid 1px $gray-border-color;

        img {

          object-fit: contain;

          width: 100px;
          height: 100px;

          @include responsive-only(xxs) {
            width: 100%;
          }
        }

      }
    }
  }

  .navigation {

    display: flex;
    margin: 10px 0;
    border: 1px solid $gray-border-color;
    border-radius: 5px;
    overflow: hidden;

    @include responsive-only(xxs) {
      flex-flow: column nowrap;
    }

    .active-state {
      background-color: $gray-background-color;
    }

    > a {

      flex: 1;
      border-radius: 0;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;

      &:not(:last-child) {

        border-right: 1px solid $gray-border-color;

        @include responsive-only(xxs) {
          border-right: none;
          border-bottom: 1px solid $gray-border-color;
        }
      }

      &:hover, &:active {
        background-color: $gray-background-color;
      }

    }

  }

  .ui-view {

    @include responsive-only(gt-xxs) {
      min-height: 240px;
    }

  }

  // tabs

  .outlet-visit {

    $width-photos: 100px;
    $width-outlet-distance: 200px;
    $width-check-in-location: 300px;

    .headers {

      display: flex;

      .outlet-distance {
        min-width: $width-outlet-distance;
      }

      .check-in-location {
        width: $width-check-in-location;
      }

      .photos {
        min-width: $width-photos;
      }

    }

  }

}
