span.pull-right(uib-dropdown is-open='saleOrdersOpen')
  a(
  href
  uib-popover-template="'app/domain/sales/views/catalogue/saleOrderPopover.html'"
  popover-trigger='outsideClick'
  popover-placement='auto bottom-right'
  popover-is-open='vm.isSaleOrderPopoverOpen'
  )
    span Заказ
    span.caret

li(uib-dropdown is-open='priceTypesOpen')
  a(href uib-dropdown-toggle)
    | {{vm.currentPriceType.name || 'Выберите тип цен'}}
    =' '
    span.caret

  ul.dropdown-menu(uib-dropdown-menu sa-click-outside outside-if='priceTypesOpen')
    li(ng-repeat='priceType in vm.priceTypes track by priceType.id' ng-class='{active: vm.currentPriceType.name == priceType.name}')
      a(href ng-click='vm.priceTypeClick(priceType)' angular-ripple) {{priceType.name}}

li.ancestor(ng-repeat='ancestor in vm.ancestors track by ancestor.id')
  a(href ng-click='vm.articleGroupClick(ancestor)' angular-ripple) {{ ancestor.name }}

li.active(ng-if='vm.currentArticleGroup') {{ vm.currentArticleGroup.name }}


