h4.outlet
  sale-order-popover(
  items='draftSaleOrders'
  active-id='vm.saleOrder.id'
  popover-placement='auto bottom-left'
  )
    .name
      span(ng-if='vm.saleOrder.outlet.id') {{ vm.saleOrder.outlet.name }}
      span(ng-if='!vm.saleOrder.outlet.id') Новый заказ
      span.animate-show.spaced(ng-hide='saleOrderExpanded')
        small на
        small.strong {{ vm.saleOrder.date }}
        // TODO: show date with amCalendar but without time

    .address
      small {{vm.saleOrder.outlet.address}}

.totals(
ng-class='{disabled: saleOrderExpanded || !vm.saleOrder.positions.length}'
)
  a.animate-show(href stm-click='saleOrderTotals' ng-hide='vm.busy')
    span.spaced(ng-if='vm.saleOrder.positions.length')
      strong {{ vm.saleOrder.positions.length | number:0 }}
      span {{ vm.saleOrder.positionsCountRu() }}
      span на сумму
      strong {{ vm.saleOrder.totalCost | number:2 }}
      span ₽
    span(ng-if='!vm.busy && !vm.saleOrder.positions.length') В заказе нет позиций
