.article-name-first
  strong {{stock.article.firstName}}
  strong {{stock.article.pieceVolume}}л
  small.gray x {{stock.article.packageRel}}

  // TODO: maybe should be a dropdown
  strong.pull-right(ng-if='vm.saleOrder')
    a(href stm-click='orderedVolume' click-payload='stock') {{ vm.orderedVolumeFull(stock) }}

.article-name-second(title='{{stock.article.name}}')
  small {{stock.article.preName}}
  // TODO: check if lastName could be null
  small {{stock.article.lastName}}

.article-name-third
  //small ({{stock.article.firstName.length}} {{stock.article.lastName.length + stock.article.preName.length}})
  //small {{ vm.articleRowHeight(stock) }}
  small.gray(ng-if='stock.displayVolume') ~{{stock.displayVolume}}
  small.red(ng-if='!stock.displayVolume') Нет в наличии
  small {{vm.prices[stock.articleId] | number:2}} ₽


