h4.popovers
  a.popover-trigger(
  href
  uib-popover-template='saleOrderExpanded ? "app/domain/sales/views/catalogue/outletPopover.html": "app/domain/sales/views/saleOrder/saleOrderPopover.html"'
  popover-placement='auto bottom-left'
  popover-is-open='vm.isSaleOrderPopoverOpen'
  )
    .outlet
      .name
        span(ng-if='vm.saleOrder.outlet.id') {{ vm.saleOrder.outlet.name }}
        span(ng-if='!vm.saleOrder.outlet.id') {{ saleOrderExpanded ? 'Выберите клиента' : 'Новый заказ' }}
        span.animate-show.spaced(ng-hide='saleOrderExpanded')
          small на
          small.strong {{ vm.saleOrder.date }}
          // TODO: show date with amCalendar but without time
      .address
        small {{vm.saleOrder.outlet.address}}
    span.caret

.totals(
ng-class='{disabled: saleOrderExpanded || !vm.saleOrder.positions.length}'
)
  a.animate-show(href stm-click='saleOrderTotals' ng-hide='vm.busy')
    span.has-positions(ng-if='vm.saleOrder.positions.length')
      strong {{ vm.saleOrder.positions.length | number:0 }}
      span {{ vm.saleOrder.positionsCountRu() }}
      span на сумму
      strong {{ vm.saleOrder.totalCost | number:2 }}
      span ₽
    span.no-positions(ng-if='!vm.busy && !vm.saleOrder.positions.length') В заказе нет позиций
