@import "fileds";
@import "flags";

stock-taking-item-list, stock-taking-item-stats, warehouse-stock {

  display: block;

  a:hover {
    text-decoration: none;
  }

  .stock-taking-item-list > .list-group-item {

    flex-direction: column;
    align-items: stretch;

    > .footer {
      display: flex;
      justify-content: space-between;
      margin-top: $margin-bottom-xs;
    }

  }

  .list-group-item {

    &.active {
      background: $active-background-color;
      border-color: $gray-border-color;

      .volume strong {
        background: $white;
        border: solid 1px $border-gray;
      }
    }

    align-items: flex-start;

    .volume strong {
      @extend %important-strong;

      & + * {
        margin-left: $margin-bottom-xs;
      }
    }

    .has-marks strong:before {
      content: "🏷";
      padding-right: 4px;
    }

    .title {
      flex: 1;
    }

    .barcode {

      color: $light-gray;
      font-size: 85%;

      > span + span {
        margin-left: $margin-bottom-xs/2;
      }

    }

  }

}
