@import "fileds";
@import "flags";

stock-taking-item-list, stock-taking-item-stats {

  display: block;

  .list-group-item {

    > * + * {
      margin-left: $margin-bottom-xs;
    }

    &.active {
      background: $active-background-color;
      border-color: $gray-border-color;
      .volume strong {
        background: $white;
        border: solid 1px $border-gray;
      }
    }

    align-items: flex-start;

    .volume strong {
      @extend %important-strong;
    }

    .title {
      flex: 1;
    }

    .name {
      &:hover {
        text-decoration: none;
      }
      display: block;
      .first-name, .piece-volume {
        font-weight: 500;
        margin-right: $margin-bottom-xs-minus;
      }
      .tags {
        display: flex;
        .tag {
          font-size: 90%;
          background: $gray-background-color;
          border: solid 1px $gray-border-color;
          border-radius: 6px;
          padding: 0 3px;
          margin-right: $margin-bottom-xs-minus;
          &.white {
            background-color: $white;
            color: $gray;
          }
        }
      }
      .footer, .middle {
        display: flex;
        align-items: center;
      }
    }

    .barcode {
      margin-top: $margin-bottom-xs;
      > span + span {
        margin-left: $margin-bottom-xs/2;
      }
      color: $light-gray;
      font-size: 85%;
    }

  }

}
