.uncashed

  .scroll-y(
  resize resize-property='height'
  resize-offset-top='45'
  cg-busy='vm.cgBusy'
  )
    .outlet(ng-repeat='item in vm.uncashedByOutlet track by item.outletId')

      .title
        .name {{ item.outlet.name }}
        small.address {{ item.outlet.address }}

      .cashings
        .cashing(ng-repeat='cashing in item.cashings track by cashing.id')
          .ndoc {{ cashing.ndoc || cashing.debt.ndoc }}
          currency-value.summ(value='cashing.summ')

  .footer
    .totals.animate-show(ng-hide='vm.busy')

      label Итого на руках:

      currency-value(value='vm.totalCashed()')
