.uncashed

  .scroll-y(
  resize resize-property='height'
  resize-offset-top='45'
  cg-busy='vm.cgBusy'
  )

    .buttons
      button.btn.btn-sm.btn-primary(ng-click='vm.doUncashingClick()') Сдать выручку

    .outlet(ng-repeat='item in vm.uncashedByOutlet track by item.outletId')

      .title
        .name {{ item.outlet.name || 'Прочая выручка' }}
        small.address {{ item.outlet.address }}

      .cashings
        .cashing(ng-repeat='cashing in item.cashings track by cashing.id')
          .ndoc {{ cashing.ndoc || cashing.debt.ndoc }}
          currency-value.summ(value='cashing.summ')
        .cashing.total(ng-if='item.cashings.length > 1')
          currency-value.summ(value='item.totalSumm')

  .footer

    .buttons
      outlet-cashing-popover.btn.btn-link()
        i.glyphicon.glyphicon-plus

    .totals.animate-show(ng-hide='vm.busy')

      label Итого на руках:

      currency-value(value='vm.totalCashed()')
