@import "../../styles/variables";
@import "../../styles/alerts";

.debt-by-outlet {

  $margin: 6px;
  $field-width: 110px;
  $headers-border: solid 1px $border-gray;

  label {
    font-weight: normal;
    margin-bottom: 0;
    text-align: left;
  }

  .title {
    font-size: 18px;
  }

  .header, .footer {

    padding: $margin 0;
    min-height: 35px;

    @include responsive-only(lt-sm) {
      padding: $margin/2 0;
      min-height: 30px;
    }

  }

  .header {
    border-bottom: $headers-border;
    label {
      color: $gray;
    }
  }

  .footer {
    border-top: $headers-border;
    color: $gray;
    strong {
      color: $black;
    }
  }

  .outlet-debt-total {

    border-bottom: solid 1px $border-gray;
    padding: $margin 0;

    .outlet {

      @include responsive-only(gt-xs) {
        //font-size: larger;
        margin: 5px 0;
      }

      font-weight: bold;
      color: $black;

      .address {
        font-size: smaller;
        color: silver;
        font-weight: normal;
      }

    }

  }

  .date, .cashing-undebted {
    border-bottom: solid 1px $border-gray;
    @include responsive-only(gt-xs) {
      padding: 4px 0 4px 15px;
    }
  }

  .cashing-undebted {

    .title .btn i {
      color: $primary-color;
    }

    .cashings {
      @extend %table-row;
      text-align: right;
      .cashed {
        //margin-right: $field-width + $margin;
      }
      .buttons {
        text-align: left;
        font-size: 75%;
        a.confirmation {
          color: $red;
        }
      }
    }
  }

  %table-row {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: $margin/2 0;

    > * + * {
      margin-left: $margin;
      min-width: $field-width;
      display: inline-block;
    }

    @include responsive-only(lt-sm) {
      display: block;
      .ndoc {
        display: block;
      }
    }

  }

  .debts {

    text-align: right;

    .debt {
      @extend %table-row;
    }

    .cashed {
    }

    .ndoc {
      font-weight: normal;
      text-align: left;
    }

    .overdue .ndoc {
      color: $red;
    }

    .summ {
    }

  }

  .totals {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    currency-value {

      label {
        margin: 0 $margin 0;
      }

      .currency {
        margin-left: $margin;
      }

    }

    > * + * {
      margin-left: $margin;
      min-width: $field-width;
      text-align: right;

    }

  }

  .alert {

    @extend %header-alert;

  }

}
