@import "../../styles/variables";

.debt-by-outlet {

  .debt .outlet {

    font-size: larger;
    font-weight: bold;
    margin: 5px 0;
    color: lighten($black, 10%);

    .address {
      color: silver;
    }

  }

  > .outlet {
    margin-bottom: 20px;
  }

  > .debt {

    .total {
      text-align: right;
      font-weight: bold;
    }

    border-bottom: solid 1px $border-gray;
    padding: 5px 0;

  }

  .date {
    border-bottom: solid 1px $border-gray;
    padding: 5px 15px;
  }

  .debts {

    text-align: right;

    .ndoc {
      display: inline-block;
      font-weight: normal;
      min-width: 100px;
      text-align: left;
    }

    .summ {
      display: inline-block;
      min-width: 100px;
    }

    .currency {
      font-weight: normal;
      color: $gray;
      margin-left: 5px;
    }

  }

  .alert {
      @extend %header-alert;
  }

}
