.debt-by-outlet.ui-view(
cg-busy='vm.cgBusy'
)

  //.alert.alert-default

  .header
    .totals
      label.total(ng-if='vm.totalCashingSumm()') На руках
      label.total Остаток долга

  .scroll-y(resize resize-offset-top='40' resize-offset-top-xs='32')
    .outlet-debt-total(ng-repeat='item in vm.data | orderBy:"outlet.name" track by item.outletId')

      .outlet
        .name {{ ::item.outlet.name }}
        small.address {{ ::item.outlet.address }}

      .totals

        currency-value(value='item["sum(cashed)"]')

        a.total(href ng-click='vm.itemClick(item)')
          currency-value(value='item["sum(summ)"]')

  .footer
    .totals.animate-show(ng-hide='vm.busy')

      strong Итого:

      currency-value(value='vm.totalCashed()')
      currency-value(value='vm.totalSumm()')
