.debt-by-outlet.ui-view(
cg-busy='vm.cgBusy'
)
  .scroll-y(resize resize-offset-top='5')
    .outlet-debt-total(ng-repeat='item in vm.data | orderBy:"outlet.name" track by item.outletId')
      .outlet
        .name {{ ::item.outlet.name }}
        .address {{ ::item.outlet.address }}

      .total
        a(href ng-click='vm.itemClick(item)') {{ ::item.total | number:2 }} ₽
