.debt-by-outlet.scroll-y(
resize resize-offset-top='5'
cg-busy='vm.cgBusy'
)
  .debt(ng-repeat='item in vm.data | orderBy:"outlet.name" track by item.outletId')
    .outlet
      .name {{ ::item.outlet.name }}
      .address {{ ::item.outlet.address }}

    .total {{ ::item.total | number:2 }} ₽
