@import "../../styles/variables";
@import "../../styles/alerts";

.debt-by-outlet {

  $margin: 6px;

  .header {
    padding: 4px 0;
    min-height: 31px;
    //font-size: larger;
  }

  .outlet-debt-total .outlet {

    font-size: larger;
    font-weight: bold;
    margin: 5px 0;
    color: $black;

    .address {
      font-size: smaller;
      color: silver;
    }

  }

  .outlet-debt-total {

    border-bottom: solid 1px $border-gray;
    padding: $margin 0;

  }

  .date {
    border-bottom: solid 1px $border-gray;
    padding: 4px 4px 4px 15px;
  }

  .debts {

    text-align: right;

    .ndoc {
      display: inline-block;
      font-weight: normal;
      min-width: 100px;
      text-align: left;
    }

    .summ {
      display: inline-block;
      min-width: 100px;
    }

    .currency {
      font-weight: normal;
      color: $black;
      margin-left: $margin;
    }

  }

  .totals {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .total {

      text-align: right;
      min-width: 100px;

      label {
        font-weight: normal;
        margin: 0 $margin 0;
      }

      .currency {
        margin-left: $margin;
      }

      & + .total {
        margin-left: 1em;
      }

    }

  }


  .alert {

    @extend %header-alert;

  }

}
