.alert.alert-default

  h4.popovers.spaced
    span.popover-trigger(
    )
      .outlet
        .name
          span {{ vm.outlet.name }}
        .address
          small {{vm.outlet.address}}
      span.caret

  .totals.animate-show(ng-hide='vm.busy')

    .info
      //strong {{ vm.debts.length | number:0 }}
      //span {{ vm.positionsCountRu() }}
      span Остаток долга:
      strong {{ vm.totalSumm() | number:2 }}
      span ₽

.scroll-y(resize resize-offset-top='5')
  .date(ng-repeat='group in vm.data | orderBy:"date" track by group.date')

    h4.title {{ ::group.date }}

    .debts

      .debt(ng-repeat='debt in group.items | orderBy:"ndoc" track by debt.id')

        label.ndoc {{ ::debt.ndoc }}

        label.summ
          a(href) {{ ::debt.summ | number:2 }}
          span.currency ₽
