section.ui-view(cg-busy='vm.cgBusy')

  #scroll-main.scroll-y(
  resize
  resize-offset-top='10'
  resize-property='max-height'
  ng-if='vm.data.length'
  )

    .shipmentRoutes
      .shipmentRoute(ng-repeat='item in vm.data | orderBy:"-date" track by item.id')

        a(
        href
        ng-click='vm.selectRoute(item)'
        ) {{ item.date | amUtc | amLocal | amCalendar }} ({{item.routePoints.length}} точек)

        hr
