@import "variables";

.catalogue {

  #search-input {
    @extend %rounded-borders;
  }

  .breadcrumb {

    @extend %rounded-borders;
    margin-bottom: 11px;

    > li.ancestor, > li.active {
      @include responsive-only(lt-sm) {
        display: none;
      }
    }
  }

  &.saleOrder .breadcrumb {
    //@media (orientation: landscape) {
    display: none;
    //}
  }

  .popover {
    @include responsive-only(gt-xs) {
      max-width: 370px;
      min-width: 370px;
    }
    @include responsive-only(lt-sm) {
      min-width: 276px
    }
  }

  .sale-order-contract .popover {
    min-width: 250px;
  }

}

#catalogue-main {

  display: flex;
  flex-flow: row nowrap;

  @include responsive-only(lt-sm) {
    flex-flow: column;
  }

}

.catalogue.hideSideNavPortrait {
  #catalogue-main {
    @include responsive-only(sm, portrait) {
      flex-flow: column;
      #scroll-articles {
        width: 100%;
      }
    }
  }
}

.catalogue, .sale-order-details {

  > .animate-show {

    &.ng-hide:not(.ng-hide-animate) {
      display: flex !important;
    }

    &.ng-hide {
      @extend a.disabled;
      opacity: 0.2;
      .scroll-y {
        overflow-y: hidden;
      }
    }
  }

}
