@import "../../../styles/variables";
@import "../../../styles/flags";

#scroll-articles {

  flex: 2;
  width: 460px;

  &.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    @extend a.disabled;
  }

  @include responsive-only(lt-sm) {
    width: inherit;
  }

  /* Styles for ng-gallery thumbnail*/

  a.thumb {
    margin: 5px 10px 0 0;
    display: block;
  }

  a.minus {

    border: solid 1px $border-gray;
    padding: 0 4px 0 3px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 1em;

    color: $gray !important;

    @include responsive-only(xxs) {
      display: none;
    }

    i {
      top: 2px;
    }

  }

  img {

    outline: 0;
    width: 70px;
    height: 68px;
    object-fit: contain;

    @include responsive-only(lt-sm) {
      max-width: 49px;
      max-height: 48px;
    }

  }

  [disabled] > img {
    filter: brightness(2);
  }

  &.animate-show.ng-hide-remove {
    transition: all ease-in 0.5s;
  }

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {

    min-height: 80px;
    max-height: 80px;
    padding: 1px 10px 0;
    margin-bottom: 0;

    & + .list-group-item {
      border-top: none;
    }

    @extend %flex-row;
    @extend .spaced;

    align-items: stretch;

    @media (max-width: $screen-xs-max) {
      min-height: 74px;
      max-height: 74px;
    }

    @include responsive-only(xxs) {

      padding: 0;
      border-right: none;
      border-left: none;
      border-radius: 0;

      a.thumb {

        position: absolute;
        top: 5px;
        left: 0;

        img {
          max-width: 40px;
          max-height: 40px;
        }

        & + .article-name {
          margin-left: 45px
        }

      }


    }

  }

  [disabled] .right {
    pointer-events: none;
    opacity: 0.5;
  }

  .right {

    margin-left: 10px;
    text-align: center;
    min-width: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .plus-box {
      font-weight: bold;
    }

    button {

      padding: 0 5px;
      height: 24px;
      width: 100%;
      line-height: 1.5;
      border-radius: 3px;
      display: block;
      color: #777777;

      &:first-child {
        //top: 8px;
        font-size: inherit;
      }

      &:last-child {
        //bottom: 8px;
        font-size: inherit;
      }

    }

    button + button {
      //margin-top: 4px;
    }

  }

  .article-name-third {

    width: 100%;
    //min-height: 20px;
    text-align: right;
    //overflow: scroll;

    > * + i {
      margin-left: 4px;
    }

    > div {

      & > i.red {
        padding-left: 1px;
        top: 0;
      }

      span {
        white-space: nowrap;
      }

    }

    small > * + * {
      margin-left: 4px;
    }

  }

  .article-name {

    flex: 1;
    min-width: 0;

    > * {
      @include responsive-only(xxs) {
        min-height: 24px;
        .article-name-second {
          margin-top: 1px;
        }
      }
      min-height: 25px;
      align-items: flex-end;
    }

  }

  .article-name-first {

    display: flex;
    width: 100%;
    //min-height: 20px;

    .name-first {
      @extend .ellipsis;
      flex-shrink: 1;
    }

    .article-info {

      margin-left: 5px;
      white-space: nowrap;
      flex-shrink: 0;
      flex-grow: 1;
      padding-right: 6px;

      //@include responsive-only(xxs) {
      //  small {
      //    display: none;
      //  }
      //}

    }

    quantity-edit {
      flex-shrink: 0;
      white-space: nowrap;
      font-size: 110%;
      text-align: right;
      span.ng-binding {
        color: $green;
      }
      @include responsive-only(gt-xs) {
        min-width: 60px;
      }
    }

  }

  .lowStock {
    .name-first, .article-info, .article-name-second > small {
      opacity: 0.5;
    }
  }

  .article-name-second {

    width: 100%;
    color: gray;
    display: block;
    //min-height: 20px;

    @extend .ellipsis;

    .tooltip-inner {
      overflow: visible;
      white-space: normal;
    }
  }

  .discount {
    color: $red;
  }

  .nowrap {
    white-space: nowrap;
  }

  price-edit {
    margin-left: 4px;
    display: inline;
    font-size: 85%;
  }

  .flag {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: $primary-color;
    }
  }

  .compDiscount {

    @extend %flaggable;

  }

  .article-name-second .tag {

    color: $primary-color;

    border: solid 1px $border-gray;
    padding: 0 5px;
    display: inline-block;
    background: none;
    border-radius: 3px;
    margin-top: -1px;

    &.gift {
      a {
        color: $red !important;
      }
      //text-transform: uppercase;
      font-weight: bold;
    }

    &.age {
      font-weight: bold;
    }

    &.red {
      a {
        color: $red;
      }
    }

    &.rose {
      a {
        color: deeppink;
      }
    }

  }

  .pieceVolume {
    color: $primary-color;
    font-weight: bold;
  }

}
