.workflow-popover

  .cancel-button(ng-if='vm.currentWorkflow')
    a.btn-link.btn.btn-block(href ng-click='vm.onWorkflowClick(null)') Отменить выбор

  .scroll-y.workflows(
  resize
  resize-offset-top='25'
  )
    .workflow(
    ng-repeat='workflow in vm.workflowDictionary track by workflow.workflowName'
    ng-click='vm.onWorkflowClick(workflow.workflowName)'
    ng-class='[{"current-workflow": workflow.workflowName === vm.currentWorkflow}, workflow.cls]'
    )
      a
        span {{workflow.translation || workflow.workflowName}}
        span {{workflow.cnt}}
