.display-workflow

  a(
  href
  uib-popover-template="'app/domain/sales/saleOrder/displayWorkflow/displayWorkflowPopover.html'"
  popover-placement='bottom-right auto'
  spopover-trigger='outsideClick'
  spopover-is-open='vm.isOpen'
  )
    span.name {{ vm.translatedWorkflow }}
    span.caret(ng-if='vm.translatedWorkflow')

