.display-workflow {
  .workflows {

    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    user-select: none;
    justify-content: flex-start;

    @include responsive-only(lt-sm) {
      margin-bottom: 0;
      border-bottom: 1px solid silver;
    }

    @include responsive-only(xxs) {
      justify-content: space-between;
    }

    > .workflow {

      outline: none;
      border: 1px solid $border-gray;
      margin: 5px;
      padding: 5px;
      cursor: pointer;

      &:hover {
        border: 1px solid $gray !important;
        transition: all .5s;
      }

      span.name {
        padding-right: 10px;
      }

    }

  }

  .dropdown {
    margin-bottom: 15px;

    & .dropdown-button {

      border-radius: 10px;
      background-color: $gray-background-color;
      border: none;
      min-width: 150px;
      display: inline-block;
      padding: 7px 10px;
      cursor: pointer;
      user-select: none;

      &:focus {
        background-color: $gray-background-color;
        border: 1px solid #000;
      }

      @include responsive-only(xxs) {
        width: 100%;
      }

      a {

        display: flex;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;

        .name {
          height: 20px;
        }
        .caret {
          align-self: center;
        }

      }

    }

    & ul {

      border-color: silver;

      @include responsive-only(xxs) {
        width: 100%;
      }
    }

    ul.dropdown-menu {

      > * {
        cursor: pointer;
      }

      li {
        min-width: 250px;
        min-height: 25px;

        &.current-workflow a {
          background-color: darken($gray-background-color, 10%);
          color: black;
        }

        a {
          border-left: 10px solid transparent;
          padding: 3px 10px;
          display: flex;
          justify-content: space-between;
        }

        &:hover a {
          background-color: darken($gray-background-color, 10%);
          color: black;
        }

        &.blue > * {
          @include colorInit($state-info-bg, $state-info-border, $state-info-text);
        }

        &.green > * {
          @include colorInit($state-success-bg, $state-success-border, $state-success-text);
        }

        &.orange > * {
          @include colorInit($state-warning-bg, $state-warning-border, $state-warning-text);
        }

        &.red > * {
          @include colorInit($state-danger-bg, $state-danger-border, $state-danger-text);
        }

      }
    }

  }

}
