.create-and-edit-news {

  .duration, .subject, .text, .version {
    background: #f5f5f5;
    padding: 10px;
    margin: 10px 0;
    border-radius: 9px;

    @media (max-width: $screen-xs) {
      margin: 5px 0;
    }

    span#helpBlock3, #helpBlock4, #helpBlock5 {
      margin-bottom: 0;
      text-align: right;
      color: #a94442;
      visibility: visible;
      opacity: 1;
    }

  }

  //.duration {
  //  height: 141px;
  //}
  //
  //.version {
  //  height: 102px;
  //}

  .warning {
    textarea, label, span {
      color: #a94442;
    }

    sab-date-picker {
      border: 1px solid #a94442;
      border-radius: 5px;
    }

  }

  .date-pickers {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .begin, .end {
      display: flex;
      flex-flow: row nowrap;
      span.pretext {
        width: 25px;
        margin-left: 10px;
        line-height: 34px;
      }

      sab-date-picker {
        flex: 1
      }

    }

    .begin {
      margin-bottom: 5px;
    }

    .pretext {
      font-size: 15px;
    }

  }

  form {

    display: flex;
    flex-flow: column nowrap;

    .subject {
      //height: 102px;
      span#helpBlock {
        margin-bottom: 0;
        text-align: right;
      }
    }

    .text {
      //min-height: 177px;
      textarea {
        resize: vertical;
        min-height: 138px;
      }

      textarea::-webkit-scrollbar {
        display: inherit;
      }

      span#helpBlock2 {
        margin-bottom: 0;
        text-align: right;
      }
    }
    .button-block {

      display: flex;
      margin: 5px 0;
      flex-flow: row nowrap;
      justify-content: flex-end;
      button.btn.btn-primary {
        margin: 0 5px;
        @media (max-width: $screen-xs) {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

      }

      button.btn.btn-primary:last-of-type {
        margin-right: 0;
      }
    }

  }

}

.news-feed {

  .no-news {

    background: #f5f5f5;
    padding: 10px;
    margin: 10px 0;
    border-radius: 9px;

    p {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      text-align: center;
      a {
        margin: 0 0 0 5px;
        cursor: pointer;
      }
    }

  }

  .news-repeater {

    .news-item ~ .news-item {
      margin: 10px 0;
    }

    .news-item {
      outline: none;
      background: #f5f5f5;
      padding: 10px;
      height: 135px;

      border-radius: 9px;

      .line-1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;

        .subject {
          font-size: 130%;
          @extend .ellipsis;
          flex: 1;
          margin-right: 10px;

          @media (max-width: $screen-xs) {
            font-size: 105%;
          }

        }

      }

      .line-2 {

        height: 56px;

        .news-body {
          p {
            margin: 5px 10px;
            overflow: hidden;
            position: relative;
            line-height: 1.3em;
            max-height: 4em;
            text-align: justify;
            padding-right: 1em;
          }

          p:before {
            content: '...';
            position: absolute;
            right: 0;
            bottom: 2px;
          }

          p:after {
            content: '';
            position: absolute;
            right: 0;
            width: 1em;
            height: 1em;
            margin-top: 0.2em;
            background: #f5f5f5;

          }

        }
      }

      .line-3 {


        height: 30px;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        span {
          & > * {
            user-select: none;
            outline: none;
          }
          color: #2768b7;
          margin-left: 2px;
          i {
            top: 0;
          }
        }
      }

    }

    .news-item:hover {
      background-color: darken(#f5f5f5, 5%);
      .news-body {
        p:after {
          background-color: darken(#f5f5f5, 5%);
        }
      }

    }

  }
}

.detailed-view {

  .news-item {
    outline: none;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 9px;

    .line-1 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      valid-lifetime {
        margin-left: auto;
      }

      .subject {
        margin-bottom: 0;
        font-size: 130%;

        @media (max-width: $screen-xs) {
          font-size: 120%;
          margin-right: 10px;
        }

      }

    }

    .line-2 {

      margin: 10px 0;

      .news-body {
        p {
          margin: 5px 10px;
          line-height: 1.5em;
          text-align: justify;
          white-space: pre-line;
        }
      }
    }

    .line-3 {
      height: 33px;
      justify-content: space-between;
      display: flex;

      button {
        padding: 5px 10px;
      }

      .rating {

        > * {
          user-select: none;
        }

        display: flex;
        align-self: center;

        label {
          margin-bottom: 3px;
          margin-right: 3px;
        }

        span {

          > * {
            outline: none;
          }

          cursor: pointer;
          color: #2768b7;
          margin-left: 2px;
          margin-top: 3px;
          i {
            top: 0;
          }
        }

      }

    }

  }
}
