@import "../../styles/variables";

.iOS .news-feed {
  .scroll-y > .news-message {
    &:hover {
      background: none;
    }
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    .body {
      p:after {
        background-color: $white;
      }
    }
  }
}

.news-feed {

  $padding: 5px;

  > .buttons {

    text-align: right;
    margin: 20px 0 $padding;

    @include responsive-only(lt-sm) {
      margin-top: 0;
    }

  }

  .no-news {

    margin: 10px 0;
    @extend %center-vertical;

    p {

      border-radius: 9px;
      padding: 10px;
      background: $gray-background-color;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      text-align: center;

      a {
        margin: 0 0 0 $padding;
        cursor: pointer;
      }

    }

  }

  .scroll-y {
    padding-top: $padding * 2;
  }

  .scroll-y > .news-message {

    outline: none;
    //background: $gray-background-color;
    padding: 10px;
    height: 150px;

    border-radius: $border-radius;

    & ~ .news-message {
      margin: 20px 0;
    }

    &:hover {

      background-color: darken($gray-background-color, 5%);

    }

    .header {

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: baseline;

      .subject {

        @extend .ellipsis;

        flex: 1;
        font-size: 120%;
        margin-right: 10px;

        //@include responsive-only(lt-md) {
        //  font-size: 100%;
        //}

      }

    }

    valid-lifetime {
      font-size: 80%;
      label {
        font-weight: normal;
      }
    }

    .body {

      max-height: 56px;

      p {
        margin: 5px 10px;
        overflow: hidden;
        position: relative;
        line-height: 1.3em;
        max-height: 4em;
        text-align: justify;
        padding-right: 1em;
      }

      p:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
        color: $primary-color;
      }

      p:after {

        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;

        background-color: darken($gray-background-color, 5%);

      }
    }

    .rating {

      height: 30px;
      margin-top: $padding * 2;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      label {
        font-weight: normal;
        color: $gray;
        margin-right: 0;
      }

      span {

        color: $primary-color;

        & > * {
          user-select: none;
          outline: none;
          margin-left: $padding * 2.5;
        }

        i {
          top: 0;
        }

      }
    }

  }

}
