h3.clearfix(ng-show='vm.title') {{ vm.title }}
  .lead

section.sa-error-widget

section.scroll-y.picking-article-list(
resize resize-offset-top='50' ui-view
cg-busy="vm.cgBusy"
)

  .alert.alert-info(ng-if="!vm.groups.length") Список товров пуст

  h4(ng-repeat-start='group in vm.groups track by group.name') {{ ::group.name }}

  ul.list-group(ng-repeat-end)
    li.list-group-item.display-flex.animate-show(
    ng-repeat='item in group.articles | orderBy: vm.orderBy as filteredResult track by item.id'
    )
      //.sorter-handle.gray(as-sortable-item-handle) {{ $index + 1 }}

      .flex-1

        h5.list-group-item-heading
          a(ui-sref='.article({id:item.id})')
            | {{ ::item.article.firstName }}&nbsp;{{ ::item.article.pieceVolume | stnumber:1 }}

          small.gray (1&nbsp;x&nbsp;{{ ::item.article.packageRel }})

        small.list-group-item-text

          .tag(
          ng-repeat='tag in ::item.article.tags track by tag.code'
          ng-class='::tag.code'
          )
            a {{ tag.label }}

          span {{ ::item.article.lastName }}

          span {{ ::item.article.factory }}

      .flex-right
        p
          label {{ ::item.volume.full }}
        p
          span.gray(ng-if="vm.orders.length>1" ng-repeat='order in vm.orders track by order.id')
            span(ng-if='$index') &nbsp;+
            label {{ ::item.orderVolume(order).full || '0' }}
