h3.clearfix Товары для сборки
  .lead

section.error-widget

section
  ul.list-group(as-sortable ng-model='vm.articles')
    li.list-group-item.display-flex(ng-repeat='item in vm.articles track by item.id' as-sortable-item)
      .sorter-handle.gray(as-sortable-item-handle) {{ $index + 1 }}
      .flex-1
        h5.list-group-item-heading {{item.article.name}}
        small.list-group-item-text
          span
            span.gray Объем:
            label {{item.article.pieceVolume | number}} л
          = ' '
          span
            span.gray Фасовка:
            label {{item.article.packageRel}}
      .flex-right
        p
          label {{item.volume.full}}
        p
          span.gray(ng-if="vm.orders.length>1" ng-repeat='order in vm.orders track by order.id')
            span(ng-if='$index') &nbsp;+
            label {{ item.orderVolume(order).full || '0' }}

nav.navbar.navbar-default.navbar-fixed-bottom
  .container
    form.navbar-form.navbar-left.only(role='search' ng-submit="vm.onBarCode()")
      .form-group
        input.form-control(type="text" placeholder="Штрих-код" ng-model='vm.barCodeInput')
