h3.clearfix Товары для сборки
  .lead

section.error-widget

ul.hidden-iOS
  li(ng-repeat="sb in vm.sbbcs track by sb.id" ng-hide="vm.pickedIndex[sb.id]")
    label(ng-repeat="sbbc in sb.sbbcs track by sbbc.id")
      a(href="" ng-click="vm.onBarCode(sbbc.code)") {{ sbbc.code }}
      span &nbsp;

section
  ul.list-group(as-sortable ng-model='vm.articles')
    li.list-group-item.display-flex.animate-show(
      ng-repeat='item in vm.articles track by item.id'
      as-sortable-item
      ng-hide="item.isPicked"
      ng-attr-id="{{item.id}}"
    )
      .sorter-handle.gray(as-sortable-item-handle) {{ $index + 1 }}
      .flex-1
        h5.list-group-item-heading
          span {{ item.article.firstName }}&nbsp;{{item.article.pieceVolume | stnumber:1}}
        small.list-group-item-text
          span {{ item.article.lastName }}
          = ' '
          span (1&nbsp;x&nbsp;{{item.article.packageRel}})
          = ' '
          span.gray {{ item.article.category }}
          = ' '
          span {{ item.article.factory }}

      .flex-right
        p
          label {{item.volume.full}}
        p
          span.gray(ng-if="vm.orders.length>1" ng-repeat='order in vm.orders track by order.id')
            span(ng-if='$index') &nbsp;+
            label {{ item.orderVolume(order).full || '0' }}

nav.navbar.navbar-default.navbar-fixed-bottom.hidden-iOS
  .container
    form.navbar-form.navbar-left.only(role='search' ng-submit="vm.onBarCode()")
      .form-group
        input.form-control(type="text" placeholder="Штрих-код" ng-model='vm.barCodeInput')
