h3.clearfix Товары для сборки
  .lead

section
  ul.list-group(as-sortable ng-model='vm.articles')
    li.list-group-item.display-flex(ng-repeat='item in vm.articles track by item.id' as-sortable-item)
      .sorter-handle.gray(as-sortable-item-handle) {{ $index + 1 }}
      .flex-1
        h5.list-group-item-heading {{item.article.name}}
        small.list-group-item-text
          span.gray Объем:
          label {{item.article.pieceVolume | number}}
          = ' '
          span.gray Фасовка:
          label {{item.article.packageRel}}
      .flex-right
        p
          label {{item.volume.full}}
        p
          span.gray(ng-repeat='order in vm.orders track by order.id')
            span(ng-if='$index') &nbsp;+
            label {{item.orderVolume(order) | number:0}}
