@import "variables";

.domain-ui-view.picking {

  .list-group {
    margin-bottom: 10px;
  }

  .list-group-item {
    padding: $margin-bottom-xs-minus $margin-bottom-xs;
  }

  .display-flex > button {

    margin-top: -8px;
    margin-bottom: -8px;


  }

  button.flex-right {
    margin-right: -11px;
  }

}

.picking-article-list {

  small.list-group-item-text, .list-group-item-heading {

    * + * {
      margin-left: 4px;
    }

    .tag {
      border: solid 1px $border-gray;
      padding: 0 5px;
      display: inline-block;
      background: none;
      border-radius: 3px;
      a {
        color: $green;
        font-weight: 500;
      }
    }

  }

}

.scroll-y.as-sortable-un-selectable {
  overflow-y: hidden;
}

#picking-search {
  float: left;
}
