div(ui-view='')

  h3
    p.clear-both Требования на сборку
    small.lead.pull-right(ng-class='{darkgray: vm.selectedItems.length}')
      span Коробок:
      label {{ vm.currentTotals().totalBoxVolume () | number:1 }}
      = ' '
      span Позиций:
      label {{ vm.currentTotals().positionsCount () }}
      = ' '
      span Бутылок:
      label {{ vm.currentTotals().totalVolume () }}

  table.table.table-hover
    thead
      th Номер
      th Бутылок
      th Позиций
      th Коробок
    tbody
      tr(
        ng-repeat='order in vm.pickingOrders track by order.id'
        ng-click='vm.toggleSelect(order)'
        ng-class='{active: order.selected}'
      )
        td {{ order.ndoc }}
        td {{ order.totalVolume () }}
        td {{ order.positions.length }}
        td {{ order.totalBoxVolume () | number: 1}}

  button.btn.btn-primary.pull-right(ng-show='vm.selectedItems.length > 0' ui-sref='.selectedOrders')
    | Собирать отмеченные
