div(ui-view='')

  h2
    p.clear-both Требования на сборку
    small.lead.pull-right
      span Позиций:
      label {{vm.total}}
      = ' '
      span Бутылок:
      label {{vm.totals.volume()}}

  table.table
    thead
      th Номер
      th Позиций
      th Бутылок
      th Коробок
    tbody
      tr(
        ng-repeat='order in vm.pickingOrders track by order.id'
        ng-click='vm.toggleSelect(order)'
        ng-class='{selected: order.selected}'
      )
        td {{order.ndoc}}
        td {{order.positions.length}}
        td {{order.totalVolume()}}
        td {{order.totalVolumePacks() | number: 1}}

  button.btn.btn-primary.pull-right(ng-show='vm.selectedItems.length > 0' ui-sref='.selectedOrders') Select
