div(ui-view='')

  h3
    p.clear-both Требования на сборку
    small.lead.pull-right(ng-class='{darkgray: vm.selectedItems.length}')
      span Коробок:
      label {{ vm.currentTotals().totalBoxVolume () | number:1 }}
      = ' '
      span Позиций:
      label {{ vm.currentTotals().positionsCount () | number:0 }}
      = ' '
      span Бутылок:
      label {{ vm.currentTotals().totalVolume () | number:0 }}

  table.table.table-hover
    thead
      th Номер
      th Бутылок
      th Позиций
      th Коробок
    tbody
      tr(
        ng-repeat='order in vm.pickingOrders track by order.id'
        ng-click='vm.toggleSelect(order)'
        ng-class='{active: order.selected}'
      )
        td {{ order.ndoc }}
        td {{ order.totalVolume () | number:0 }}
        td {{ order.positionsCount () | number:0 }}
        td {{ order.totalBoxVolume () | number: 1}}

  button.btn.btn-primary.pull-right(ng-show='vm.selectedItems.length > 0' ui-sref='.selectedOrders')
    | Собирать отмеченные

nav.navbar.navbar-default.navbar-fixed-bottom
  .container
    form.navbar-form.navbar-left.float-left.flat-on-small.hidden-xs(role='search' ng-submit="vm.onBarCode()")
      .form-group
        input.form-control(type="text" placeholder="Штрих-код" ng-model='vm.barCodeInput')
    ul.nav.navbar-nav.navbar-right.float-right.animate-show.flat-on-small(ng-show='vm.selectedItems.length')
      li(ui-sref-active='active')
        a(ui-sref='.selectedOrders') Сводка

      li(ui-sref-active='active')
        a(ui-sref='.articleList') Задачи

      li(ui-sref-active='active')
        a(ui-sref='.picked') Собрано
