section.has-navbar-fixed-bottom.ui-view

  h3
    p.clear-both Требования на сборку
    small.lead.pull-right(ng-class='{darkgray: vm.selectedItems.length}')
      span Кор.:
      label {{ vm.currentTotals().totalBoxVolume () | number:1 }}
      = ' '
      span Поз.:
      label {{ vm.currentTotals().positionsCount () | number:0 }}
      = ' '
      span Бут.:
      label {{ vm.currentTotals().totalVolume () | number:0 }}

  table.table.table-hover
    thead
      th.hidden-xs Статус
      th Номер
      th Бутылок
      th Позиций
      th Коробок
    tbody
      tr(
        ng-repeat='order in vm.pickingOrders track by order.id'
        ng-click='vm.toggleSelect(order)'
        ng-class='vm.rowClass(order)'
      )
        td.hidden-xs
          i(ng-class="order.processingClass")
        td {{ order.ndoc }}
        td {{ order.totalVolume () | number:0 }}
        td {{ order.positionsCount () | number:0 }}
        td {{ order.totalBoxVolume () | number: 1}}

  .pull-right
    button.btn.btn-primary.animate-show(ng-show='vm.hasSelected' ui-sref='.selectedOrders')
      | Собирать отмеченные

nav.navbar.navbar-default.navbar-fixed-bottom.animate-show(ng-hide='vm.hideBottomBar')
  .container
    form.navbar-form.navbar-left.float-left.flat-on-small.hidden-xs(role='search' ng-submit="vm.onBarCode()" ng-if="vm.onBarCode")
      .form-group
        input.form-control(type="text" placeholder="Штрих-код" ng-model='vm.barCodeInput')
    ul.nav.navbar-nav.navbar-right.float-right.animate-show.flat-on-small(ng-show='vm.hasSelected')
      li(ui-sref-active='active')
        a(ui-sref='.selectedOrders') Сводка

      li(ui-sref-active='active')
        a(ui-sref='.articleList') Задачи

      li(ui-sref-active='active')
        a(ui-sref='.picked') Собрано
