section.has-navbar-fixed-bottom.ui-view

  h3
    p.clear-both Требования на сборку
    small.lead.pull-right(ng-class='{darkgray: vm.hasSelected}')
      span Коробок:
      label {{ vm.currentTotals.totalBoxVolume () | number:0 }}
      = ' '
      span Позиций:
      label {{ vm.currentTotals.positionsCount () | number:0 }}

  table.table.table-hover
    thead
      tr
        th(colspan='5')
          .progress-striped(ng-if='vm.progress' uib-progressbar max="vm.progress.max" value="vm.progress.value" type="danger")
            i {{ vm.progress.value }} / {{ vm.progress.max }}
      tr
        th.hidden-xs Статус
        th Номер
        th.number Позиций
        th.number Коробок
    tbody
      tr(
        ng-repeat='order in vm.pickingOrders track by order.id'
        ng-click='vm.toggleSelect(order)'
        ng-class='vm.rowClass(order)'
      )
        td.hidden-xs
          i(ng-class="order.processingClass")
        td {{ order.ndoc }}
        td.number {{ order.positionsCount() | number:0 }}
        td.number {{ order.totalBoxVolume() | number:0 }}

nav.navbar.navbar-default.navbar-fixed-bottom.animate-show(ng-hide='vm.hideBottomBar')
  .container
    form.navbar-form.navbar-left.float-left.flat-on-small.hidden-xs(role='search' ng-submit="vm.onBarCode()" ng-if="vm.onBarCode")
      .form-group
        input.form-control(type="text" placeholder="Штрих-код" ng-model='vm.barCodeInput')

    ul.nav.navbar-nav.navbar-right.float-right.animate-show.flat-on-small(ng-if="vm.mode==='orderList'")
      button.btn.btn-primary.navbar-btn(ng-if='vm.hasSelected' ui-sref='.selectedOrders') Собирать отмеченные
      li(ui-sref-active='active' ng-if='!vm.hasSelected')
        a(ui-sref='.({state: "notdone"})') Несобранные

      li(ui-sref-active='active' ng-if='!vm.hasSelected')
        a(ui-sref='.({state: "done"})') Собранные

    ul.nav.navbar-nav.navbar-right.float-right.animate-show.flat-on-small(ng-if="vm.mode!=='orderList'" ng-show='vm.pickingItems')
      li(ui-sref-active='active')
        a(ui-sref='.selectedOrders') Сводка

      li(ui-sref-active='active')
        a(ui-sref='.articleList') Задачи

      li(ui-sref-active='active')
        a(ui-sref='.picked') Собрано
