section.error-widget

h3.clearfix
  p Выбранные требования
  small.lead.pull-right
    span Кор.:
    label {{ vm.totals.totalBoxVolume () | number:1 }}
    = ' '
    span Поз.:
    label {{ vm.totals.positionsCount () | number:0 }}
    = ' '
    span Бут.:
    label {{ vm.totals.totalVolume () | number:0 }}

section(cg-busy='vm.busy')
  .progress-striped(ng-if='vm.progress' uib-progressbar max="vm.progress.max" value="vm.progress.value" type="danger")
    i {{ vm.progress.value }} / {{ vm.progress.max }}

  ul.list-group(as-sortable ng-model='vm.selectedItems')
    li.list-group-item.display-flex(ng-repeat='item in vm.selectedItems track by item.id' as-sortable-item)
      .sorter-handle.gray(as-sortable-item-handle) {{ $index + 1 }}
      .flex-1
        h4.list-group-item-heading.display-flex
          div {{ ::item.ndoc }}
        p.list-group-item-text.gray.display-flex
          label.flex-1.text-right Требуется:
          span
          label {{ item.totalBoxVolume() | number:1 }}
          span К.
          label {{ item.positionsCount () | number:0 }}
          span П.
          label {{ item.totalVolume() | number:0 }}
          span Б.
        p.list-group-item-text.display-flex
          label.flex-1.text-right Осталось:
          span
          label {{ item.totalUnPickedBoxVolume() | number:1 }}
          span К.
          label {{ item.totalUnPickedPositionsCount () | number:0 }}
          span П.
          label {{ item.totalUnPickedVolume() | number:0 }}
          span Б.

  .pull-right(ng-hide='vm.progress')
    button.btn.btn-default(ng-click='vm.pausePicking()')
      | Отложить
    button.btn.btn-warning(ng-click='vm.finishPicking()')
      | Завершить
    button.btn.btn-primary(ng-click='vm.startPicking()')
      | Собирать
