div(ui-view='')

  h2.clearfix
    p Выбранные требования
    small.lead.pull-right
      span Позиций:
      label {{vm.totals.positions()}}
      = ' '
      span Бутылок:
      label {{vm.totals.volume()}}

  section
    ul.list-group(as-sortable ng-model='vm.selectedItems')
      li.list-group-item(ng-repeat='item in vm.selectedItems track by item.id' as-sortable-item)
        div(as-sortable-item-handle)
          h4.list-group-item-heading {{item.ndoc}}
          p.list-group-item-text
            span Бутылок:
            label {{item.totalVolume()}}
            = ' '
            span Позиций:
            label {{item.positions.length}}

    button.btn.btn-primary(ui-sref='.articleList') Continue
