div(ui-view='')

  h3.clearfix
    p Выбранные требования
    small.lead.pull-right
      span Коробок:
      label {{ vm.totals.boxVolume () | number:1 }}
      = ' '
      span Позиций:
      label {{ vm.totals.positionsCount () }}
      = ' '
      span Бутылок:
      label {{ vm.totals.volume () }}

  section
    ul.list-group(as-sortable ng-model='vm.selectedItems')
      li.list-group-item.display-flex(ng-repeat='item in vm.selectedItems track by item.id' as-sortable-item)
        .sorter-handle.gray(as-sortable-item-handle) {{ $index + 1 }}
        .flex-1
          h4.list-group-item-heading {{item.ndoc}}
          p.list-group-item-text
            span Коробок:
            label {{ item.totalBoxVolume() | number:1 }}
            = ' '
            span Позиций:
            label {{ item.positions.length }}
            = ' '
            span Бутылок:
            label {{ item.totalVolume() }}

    button.btn.btn-primary(ui-sref='.articleList') Continue
