@import "../../../styles/variables";

.edit-news-message {

  $margin: 15px;

  .buttons {

    text-align: right;
    margin: $margin * 2 0 $margin;

    @include responsive-only(lt-sm) {
      margin-top: 0;
      margin-bottom: 0;
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    > * + * {
      margin-left: $margin;
    }

  }

  form {

    display: flex;
    flex-flow: column nowrap;

    .subject {

    }

    .text {

      textarea {
        resize: vertical;
        min-height: 150px;
      }

      textarea::-webkit-scrollbar {
        display: inherit;
      }

    }

    > * {

      background: $gray-background-color;
      padding: 10px;
      border-radius: $border-radius;

      @include responsive-only(lt-sm) {
        margin: 5px 0;
      }

      & + * {
        margin-top: $margin;
      }

    }

    .help-block {
      margin-bottom: 0;
      text-align: right;
      color: $red;
    }

    .warning, .ng-touched.ng-invalid {
      border: 1px solid $red;
    }

    .ng-invalid.ng-untouched + .help-block {
      display: none !important;
    }

  }

  .date-pickers {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .begin, .end {

      display: flex;
      flex-flow: row nowrap;

      span.pretext {
        width: 25px;
        margin-left: 10px;
        line-height: 34px;
      }

      sab-date-picker {
        flex: 1
      }

    }

    .begin {
      margin-bottom: 5px;
    }

    .pretext {
      font-size: 15px;
    }

  }

}
