.confirmed-button

  a(
  href
  ng-class="{confirmation: vm.confirmation}"
  ng-click="vm.buttonClick()"
  ng-transclude
  )

  a(
  href
  ng-if="vm.confirmation"
  ng-click="vm.cancelClick()"
  ) Отмена
