@import "../../../styles/variables";

.show-news-message {

  $padding: 10px;

  label {
    color: $gray;
  }

  .news-message {

    padding: $padding 0;
    border-radius: $border-radius;

    .header {

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      valid-lifetime {
        margin-left: auto;
      }

      .subject {

        font-size: 170%;
        font-weight: 400;

        @include responsive-only(lt-sm) {
          font-size: 120%;
          margin-right: $padding;
        }

      }

    }

    .body {

      margin: $padding 0;

      p {
        line-height: 1.5em;
        text-align: justify;
        white-space: pre-line;
      }

    }

    .footer {

      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin-top: $padding * 5;

      .rating {

        margin-left: $padding;

        span {

          > * {
            outline: none;
          }

          cursor: pointer;
          color: $primary-color;
          margin-left: 2px;

        }

      }

    }

  }

}
