@import "../../../styles/variables";

.show-news-message {

  $padding: 10px;

  label {
    color: $gray;
  }

  .news-message {

    padding: $padding 0;
    border-radius: $border-radius;

    .header {

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      valid-lifetime {
        margin-left: auto;
      }

      .subject {

        font-size: 170%;
        font-weight: 400;

        @include responsive-only(lt-sm) {
          font-size: 120%;
          margin-right: $padding;
          font-weight: bold;
        }

      }

      .buttons {
        text-align: right;
      }

    }

    .body {

      margin: $padding 0;

      p {
        line-height: 1.5em;
        text-align: justify;
        white-space: pre-line;
      }

    }

    .footer {

      display: flex;
      justify-content: flex-end;
      align-items: center;

      //margin-top: $padding * 5;

      @include responsive-only(xxs) {
        .common-rating {
          display: none;
        }
      }

      .rating {

        margin-left: $padding*2;

        span {

          > * {
            outline: none;
            margin-left: $padding * 1.5;
          }

          cursor: pointer;
          color: $primary-color;
          margin-left: 0;

        }

        i {
          top: 2px;
        }

      }

    }

  }

}
