@import "variables";

warehouse-articling {

  .stm-searcher {
    i.glyphicon.glyphicon-search {
      color: $primary-color;
    }
    border: solid 1px $gray-border-color;
    &, > * {
      border-radius: $border-radius;
    }
  }

  label {
    margin-bottom: 0;
    color: $dark-gray;
  }

  h3 {
    background: $gray-background-color;
    font-size: 85%;
    padding: 4px;
    color: $gray;
  }

  .producer {
    color: $light-gray;
    font-size: 85%;
  }

}
