.warehouse-articling(cg-busy="vm.cgBusy")

  .barcode-filter(ng-if='vm.barcode')
    label
      i.glyphicon.glyphicon-barcode

    strong {{ vm.barcode }}

    a.remove(href ng-click='vm.clearBarcodeClick()')
      i.glyphicon.glyphicon-remove

  warehouse-article-list(articles="vm.articles" show-search="true")
