.contract-info-popover

  currency-value.credit-limit(value='vm.contract.creditLimit' label='Кредитный лимит')

  currency-value.credit-remains(value='vm.contract.creditRemains' label='Остаток лимита')
