@import "variables";

warehouse-box-info {

  display: block;

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .items {
    margin-top: $margin-bottom-xs;
    clear: both;
  }

  .picking-order {

    display: flex;
    justify-content: flex-end;
    margin-left: $margin-bottom-xs;

    > * + * {
      margin-left: $margin-bottom-xs;
    }

    .ndoc:before {
      content: "№";
    }

    .date:before {
      content: "от";
      margin-right: $margin-bottom-xs;
    }

  }

  .title {

    display: flex;
    justify-content: space-between;
    align-items: center;

    .barcode {
      text-align: left;
    }

  }

  .status {

    margin-top: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .processing {
      display: inline-block;
      background: $light-gray;
      border-radius: $border-radius;
      color: $white;
      padding: 1px 6px;
    }

  }

  .count {

    min-width: 40px;
    //border-left: solid 1px $border-gray;
    text-align: center;
    font-weight: bold;

    &:after {
      content: "б.";
      font-weight: normal;
      color: $gray;
      margin-left: 3px;
    }

  }

  .list-group-item.article {

    display: flex;

    > .count {

      min-width: 40px;

    }

    warehouse-article {
      flex: 1;

      .middle {
        flex-wrap: wrap;
      }
    }

  }

}
