@import "variables";

warehouse-box-info, warehouse-box-create, warehouse-palette-info {

  display: block;

  min-height: 150px;

  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    button {
      margin-top: $margin-bottom-xs;
    }
  }

  .items {
    margin-top: $margin-bottom-xs;
    clear: both;

    .list-group {
      margin-bottom: 0;
    }
  }

  .errored-items {

    margin-top: $margin-bottom-xs;

    label {
      margin: 0 $margin-bottom-xs-minus 0 0;
      font-weight: normal;

      &:before {
        content: "⚠️";
        margin-right: $margin-bottom-xs-minus;
      }

      &:after {
        content: ":";
      }
    }
  }

  .stamp-label {
    strong, span {
      margin-left: $margin-bottom-xs;
    }
  }

  .item-info {
    margin-top: $margin-bottom-xs;
    border: solid 1px $border-gray;
    border-radius: $border-radius;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .status .picking-order {
    margin-left: $margin-bottom-xs;
  }

  .box-orders {
    margin-top: $margin-bottom-xs;

    .actions {
      flex: 1;
      text-align: right;
    }
  }

  .picking-order {

    display: flex;
    justify-content: flex-start;

    > * + * {
      margin-left: $margin-bottom-xs;
    }

    .ndoc:before {
      content: "№";
    }

    .date:before {
      content: "от";
      margin-right: $margin-bottom-xs;
    }

  }

  .title {

    display: flex;
    justify-content: space-between;
    align-items: center;

    .barcode {
      text-align: left;
    }

  }

  .status {

    margin-top: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .processing {
      display: inline-block;
      background: $light-gray;
      border-radius: $border-radius;
      color: $white;
      padding: 1px 6px;
    }

  }

  .count {

    //min-width: 40px;
    //border-left: solid 1px $border-gray;
    font-weight: bold;

    &:after {
      content: "б.";
      font-weight: normal;
      color: $gray;
      margin-left: 3px;
    }

  }

  .list-group-item {

    display: flex;

    > .totals {

      text-align: center;
      //min-width: 40px;

    }

    warehouse-article {
      flex: 1;

      .middle {
        flex-wrap: wrap;
      }
    }

  }

}
