.warehouse-box-info

  .title
    .barcode 📦 {{ vm.warehouseBox.barcode }}
    .status {{ vm.warehouseBox.statusLabel() }}

  .items
    .articles.list-group.stock-batch-items
      .list-group-item.article(ng-repeat="a in vm.articles track by a.id")
        warehouse-article(ng-model="a.article")
        .count {{ a.items.length }}
