@import "variables";

catalogue-filter {

  $border-radius: 10px;
  display: block;

  .catalogue-filter {

    @include responsive-only(sm) {
      width: 238px;
    }

    uib-accordion {

      .panel-group {

        margin: 0;

        @include responsive-only(lt-sm) {
          &:first-of-type {
            margin-top: 10px;
          }
        }

        .panel {
          box-shadow: none;
          border: 1px solid $gray-border-color;

          @include responsive-only(lt-sm) {

            border-left: none;
            border-right: none;

          }

        }

        .panel-default, .panel-tag {

          @include responsive-only(lt-sm) {
            border-radius: 0;
          }

          margin-bottom: 10px;
          border-radius: $border-radius;

          .panel-heading {

            background-color: transparent;
            padding: 0;

            h4 {

              font-size: 13px;
              text-transform: uppercase;

              > a {

                padding: 10px;
                display: block;

                .group-name {
                  color: black;
                }

                .no-queries {
                  text-transform: lowercase;
                  color: red;
                }

              }

              span[uib-accordion-header] {

                display: flex;
                justify-content: space-between;

                .dummy-tags {

                  display: flex;
                  justify-content: flex-end;

                  a {

                    text-transform: lowercase;
                    margin: 0 5px;
                    padding: 0;

                    &:last-of-type {
                      margin-right: 0;
                    }
                  }

                }

              }

            }

          }

          .panel-collapse {
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            @include responsive-only(lt-sm) {
              border-radius: 0;
            }

          }

          .panel-body {
            padding: 0;
            border: 0;
          }
        }
      }

    }

    .tag {

      cursor: pointer;

      .tag-line {

        a.list-group-item {

          border-right: none;
          border-left: none;
          border-radius: 0;

          &:last-of-type {
            border-bottom: none;
            border-bottom-left-radius: $border-radius - 1;
            border-bottom-right-radius: $border-radius - 1;

            @include responsive-only(lt-sm) {
              border-radius: 0;
            }

          }

        }

        .panel-body {

          border-top: none;
          overflow: scroll;

          .active {

            background-color: $primary-color;
            color: $white;

            &:hover {
              background-color: lighten($primary-color, 20%);
            }

          }

        }

        width: 100%;

      }

    }

    .block-to-collapse {

      .list-group {
        margin-bottom: 0 !important;
      }

      .list-group-item {

        border-radius: 0 !important;
        border-left: none;
        border-right: none;

        &:last-of-type {
          border-bottom: none;
        }

      }

    }

    .query {

      cursor: pointer;

      .single-query {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $gray-border-color;

        .query-name {

          padding: 10px 15px;
          color: $article-nav-menu-text-color;
          flex: 1;
          text-transform: uppercase;
          text-decoration: none;

        }

        .query-buttons {

          align-self: stretch;
          padding: 10px 5px;

          display: flex;
          justify-content: space-between;

          width: 45px;

          a {
            color: darken($gray-background-color, 20%);

            .glyphicon-heart {
              color: red;

              &:hover {
                color: lighten(red, 25%);
              }

            }

          }

        }

        &:last-of-type {
          border-bottom-right-radius: $border-radius - 1;
          border-bottom-left-radius: $border-radius - 1;

          @include responsive-only(lt-sm) {
            border-radius: 0 !important;
          }

        }

        &:hover {

          background-color: $gray-background-color;

          & .query-buttons {

            a {

              color: darken($gray-background-color, 80%);

              &:first-of-type:hover {
                color: red;
              }

              &:last-of-type:hover {
                color: $primary-color;
              }

            }

          }

        }

      }

    }

    // active

    .panel-body, .query {
      .active {

        background-color: $primary-color;

        .query-buttons a, .query-name {
          color: $white;
        }

        &:hover {

          background-color: lighten($primary-color, 20%);

          .query-buttons a {
            color: $white;
          }

        }

      }

    }

  }

}

