section

  h2 Playground

  p Started at: {{ vm.started }}
  p Finished "Price" in {{ vm.finished || '?' }} ms.

  .data(ng-if='vm.data')
    h4 Data
    pre {{ vm.data | json }}

  .error(ng-if='vm.err')
    h4 Error
    pre {{ vm.err | json }}
