section

  h2 Playground
    .lead

  pre {{vm.articles | json}}
  pre {{vm.articleGroups | json}}
  pre {{vm.barCodes | json}}
  pre {{vm.stockBatches | json}}

  ul
    li(ng-repeat="sb in vm.stockBatches track by sb.id")
    | {{sb.Article.name}}
