section.scroll-y(resize resize-offset-top='5')

  h2 Playground

  p Started at: {{ vm.started }}
  p Finished "Price" in {{ vm.finished['Price'] || '?' }} ms.
  p Finished "Article" in {{ vm.finished['Article'] || '?' }} ms.
  p Finished "ArticleGroup" in {{ vm.finished['ArticleGroup'] || '?' }} ms.

  p Total time {{ vm.finished.total }} ms.

  .data(ng-if='vm.data')
    h4 Data
    pre {{ vm.data | json }}

  .error(ng-if='vm.err')
    h4 Error
    pre {{ vm.err | json }}

  pre {{ vm.samples | json }}
