@import "variables";

comments-view {

  .comment {

    display: flex;

    i {
      margin-right: $margin-bottom-xs-minus;
      color: $green;
    }

    & + .comment {
      margin-top: $margin-bottom-xs;
    }

  }

}
