.stock-taking-list

  .list-group
    a.list-group-item(
    href
    ng-repeat='item in vm.stockTakings track by item.id'
    ng-click="vm.stockTakingClick(item)"
    )
      .warehouse {{ item.warehouse.name }}
      .date {{ item.date | dateTime }}
      //span {{ item.itemStats('count()') | number }}
