.warehouse-box-create(cg-busy="vm.cgBusy")

  .title
    .barcode 📦 {{ vm.barcode }}
    .count {{ vm.items.length | number }}

  .item-info(ng-if="vm.currentItem || vm.currentStamp")
    warehouse-item-info(ng-if="vm.currentItem" warehouse-item="vm.currentItem")
    .stamp-label(ng-if="vm.currentStamp")
      label 🏷
      strong {{ vm.stampLabel(vm.currentStamp) }}
    a(href ng-click="vm.removeItemClick()") Убрать

  .items.list-group
    .list-group-item(ng-if="vm.stockBatch")
      .stock-batch 🔖 {{ vm.stockBatch.barcode }}
    .list-group-item(ng-if="vm.stockBatch")
      warehouse-article(ng-model="vm.stockBatch.article")
      .count {{ vm.stamps.length }}

    .list-group-item(ng-repeat="a in vm.articles track by a.id")
      warehouse-article(ng-model="a.article")
      .count {{ a.items.length }}

  .alert.alert-success(ng-if="!vm.items.length && !vm.stamps.length")
    | Просканируйте марку, чтобы создать коробку c наклейкой
    strong &nbsp;{{ vm.barcode }}

  .action-buttons

    button.btn.btn-primary(
      ng-click="vm.saveClick()"
      ng-if="vm.items.length || vm.stamps.length"
    ) Сохранить

    button.btn.btn-default(
      ng-click="vm.cancelClick()"
    ) Отмена
