.driver-popover-content
  .name {{ vm.driver.name }}
  .phone(ng-if='vm.driver.mobileNumber')
    label Телефон:
    a(
    ng-click='vm.popoverOpen = !vm.popoverOpen; $event.stopPropagation()'
    href='tel:{{ vm.driver.mobileNumber }}'
    ) {{ vm.driver.mobileNumber }}
