driver-popover {

  display: block;
  height: 100%;

  .driver-popover {

    height: inherit;

    a {
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
    }

    .name {
      flex: 1;
      @extend .ellipsis;
    }

    .popover-content {

      min-width: 205px;

      .driver-popover-content {

        .name {
          font-weight: 600;
        }

        .phone {

          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          label {
            margin: 0;
            font-weight: normal;
          }

        }

      }

    }

  }

}
