@import "variables";

.action-view {

  display: block;

  table {
    width: 100%;
  }

  thead {
    background: $gray-background-color;
  }

  th {
    color: $light-gray;

    &.ranges {
      color: $black;
      font-size: larger;
    }
  }

  td, th {

    padding: 5px;
    text-align: center;

    &.idx {
      width: 30px;
    }

    &.ranges {
      text-align: left;
    }

    &.discount {
      width: 50px;
    }

    &.required.volume {
      width: 120px;
    }

    &.required.sku {
      width: 40px;
    }

    &.discount.total {
      background: $light-green;
    }

    .name {
      font-weight: 500;
    }

  }

  td.discount.total {
    color: black;
    font-weight: bold;
  }

  tbody {
    .comment {
      font-size: small;
      color: $green;
    }
  }

  .comment {
    white-space: pre-line;
  }

  tfoot td {
    text-align: left;

    > * {
      margin: 5px;
    }
  }

  .other {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    action-pictures {
      //flex: 3;
    }

    .comment {
      margin: $margin-bottom-xs;
      max-width: 300px;
    }

    &.center {
      .comment {
        max-width: none;
      }
    }
  }

  @include responsive-only(xxs) {
    td, th {
      &.discount.own, &.discount.comp {
        display: none;
      }

      &.required.volume {
        width: 90px;
      }
    }

    tfoot .other {
      display: block;
    }

  }

}

.action-required-volume {
  em {
    display: inline-block;
    color: $green;
  }
}

.action-view, .action, .campaign-view .fields {

  i.glyphicon {
    color: $green;
    margin-right: $margin-bottom-xs;
  }

  .priority {
    span {
      background: $green;
      color: white;
      padding: 3px 6px;
    }
  }
}
