h3
  p Авторизация
  small Укажите ваш код и пароль

hr

section.row-fluid
  form.form-horizontal(ng-submit="vm.submit()" name="loginForm")
    .form-group
      label.col-sm-3.control-label(for="inputCode") Личный номер
      .col-sm-9
        input#inputCode.form-control(type="text" next-on-enter="inputPassword" name="code" ng-required="true" placeholder="Номер наборщика" ng-model="vm.code")
    .form-group
      label.col-sm-3.control-label(for="inputPassword") Пароль
      .col-sm-9
        input#inputPassword.form-control(type="password" name="password" ng-required="true" placeholder="4 цифры" ng-model="vm.password")
    hr

    .pull-right
      button.btn.btn-primary(type="submit" ng-disabled="loginForm.$invalid || vm.busy && !vm.busy.$$state.status") Начать работу
