@import "fileds";

.stock-taking-item-view {

    @include responsive-only(xs) {
      display: flex;
      justify-content: space-between;
      .editing {
        margin-left: $margin-bottom-xs;
      }
    }

    @include responsive-only(gt-xxs) {
      .fields > * {
        margin-bottom: $margin-bottom-xs/2;
      }
    }

    stock-taking-article-item-list {
      margin-top: $margin-bottom-xs-minus;
      display: block;
    }

    sa-keyboard {

      //@include responsive-only(xxs) {
        margin-top: $margin-bottom-xs;
      //}

      .num-pad-button .btn {
        font-size: 120%;
        background: $gray-background-color;
        border: none;
        &:hover {
          box-shadow: 0 0 4px 2px $gray-background-color;
          color: $primary-color;
        }
        @include responsive-only(lt-sm) {
          padding: $margin-bottom-xs/2 $margin-bottom-xs * 2;
          min-width: 60px;
        }
        @include responsive-only(xxs) {
          padding: $margin-bottom-xs/4 $margin-bottom-xs * 2;
        }
      }

    }

    .volume {

      align-items: center;
      strong {
        @extend %important-strong;
      }

      &.touched {
        strong {
          text-decoration: underline;
          color: $green;
        }
      }

    }

}
