@import "fileds";

.stock-taking-item-view {

  @include responsive-only(xs) {
    display: flex;
    justify-content: space-between;
    .editing {
      margin-left: $margin-bottom-xs;
    }
  }

  @include responsive-only(gt-xxs) {
    .fields > * {
      margin-bottom: $margin-bottom-xs/2;
    }
  }

  stock-taking-article-item-list {
    display: block;
  }

  stock-taking-article-volume .volume {
    display: inline-block;
  }

  .result, stock-taking-article-item-list {
    margin-top: $margin-bottom-xs;
  }

  sa-keyboard {

    margin-top: $margin-bottom-xs;

    .num-pad-button .btn {
      font-size: 120%;
      background: $gray-background-color;
      border: none;
      &:hover {
        box-shadow: 0 0 4px 2px $gray-background-color;
        color: $primary-color;
      }
      @include responsive-only(lt-sm) {
        padding: $margin-bottom-xs/2 $margin-bottom-xs * 2;
        min-width: 60px;
      }
      @include responsive-only(xxs) {
        padding: $margin-bottom-xs/4 $margin-bottom-xs * 2;
      }
    }

  }

  .volume {

    align-items: center;
    strong {
      @extend %important-strong;
    }

    &.touched {
      strong {
        //text-decoration: underline;
        color: $green;
      }
    }

  }

  .marks {
    margin-top: $margin-bottom-xs;
    .list-group-item {
      margin-left: -10px;
      margin-right: -10px;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
    }
  }

  .editing .buttons {

    margin-top: $margin-bottom-xs * 2;
    display: flex;
    flex-direction: row;

    button {
      border-radius: $border-radius;
      border: 0;
      height: 45px;
      &:first-child {
        margin-left: 0;
      }
      flex: 1;
    }

    @include responsive-only(lt-sm) {
      margin-top: $margin-bottom-xs;
      button {
        height: 30px;
      }
    }
  }

}
