.campaign-team-name-popover-template.scroll-y(
resize resize-offset-top='30'
)

  .campaign-group(ng-repeat='team in vm.teams track by team.name')
    a.name(
    href ng-click='vm.teamClick(team)'
    )
      i(ng-class="team.icon" ng-if="team.icon")
      span(ng-if="team.name") {{ team.name }}
