@import "variables";

.possible-outlet-tasks {

  .possible-outlet.list-group-item {

    display: flex;

    .texts {
      flex: 1;
      cursor: pointer;
    }

    .controls {
      //color: $green;
    }

  }

  .possible-outlet-visit {
    .buttons, .photos, .location {
      margin-top: $margin;
    }
    .location {
      i {
        color: $green;
      }
      display: flex;
      .accuracy {
        margin-left: $margin-bottom-xs;
      }
    }
  }

  .buttons {

    @include responsive-only(xxs) {
      .btn, a {
        display: block;
        width: 100%;
        & + * {
          margin-top: $margin-bottom-xs;
        }
      }
      display: flex;
      flex-direction: column;
      justify-items: stretch;
    }
  }

  make-photo {
    display: inline-block;
    text-align: center;
    a {
      vertical-align: middle;
      display: inline-block;
      border: solid 1px #ccc;
      padding: 6px 12px;
      border-radius: 4px;
    }
  }

  $thumb-size: 130px;

  img.thumbnail {

    object-fit: contain;
    width: $thumb-size;
    height: $thumb-size;

  }

  .photos {

    display: flex;
    flex-wrap: wrap;
    position: relative;

    .outlet-photo {
      margin-right: $margin;
      text-align: center;
      .thumbnail {
        margin-bottom: $margin-bottom-xs;
      }
      .confirm {
        background-color: $red;
        color: $white !important;
        padding: 2px 6px;
        border-radius: 3px;
      }
    }

    @include responsive-only(xxs) {

      justify-content: space-around;

      .outlet-photo {
        margin-right: 0;
      }

      img.thumbnail {
        width: $thumb-size/2;
        height: $thumb-size/2;
      }

    }
  }

}
