.news-carousel(uib-carousel active='vm.currentSlide' interval='vm.interval')
  .slide.animate(uib-slide ng-repeat='slide in vm.slides track by slide.idx' index='slide.idx')
    .carousel-caption(ng-class='{red: slide.forceShow}')
      h4 {{ ::slide.subject }}
    a(href ng-click='vm.imageClick(slide)')
      img(ng-src='{{ ::slide.srcThumbnail}}' style='margin:auto;')
