section.catalogue.spaced(cg-busy='vm.cgBusy')

  .ui-view

  ol.breadcrumb(ng-include="'app/domain/sales/views/catalogue/catalogueBreadcrumb.html'")

  section.row

    #article-groups.col-sm-4(ng-include="'app/domain/sales/views/catalogue/catalogueArticleGroups.html'")

    #scroll-articles.col-sm-8.scroll-y(
    resize='articles'
    style='height: {{articles.windowHeight - articles.offsetTop - 5}}px'
    ng-include="'app/domain/sales/views/catalogue/catalogueArticle.html'"
    )
