section(cg-busy='vm.cgBusy')

  ol.breadcrumb
    li(ng-repeat='ancestor in vm.ancestors track by ancestor.id')
      a(href ng-click='vm.setCurrentArticleGroup(ancestor.id && ancestor)') {{ ancestor.name }}

    li.active(ng-if='vm.currentArticleGroup') {{ vm.currentArticleGroup.name }}

  section.row(
  resize
  style='height: {{windowHeight - offsetTop - 5}}px;'
  )
    .col-sm-4.scroll-y.height-100

      ul.list-group
        a.list-group-item(
        ng-class='{active: vm.currentArticleGroup.id === elem.id}'
        href
        ng-click='vm.setCurrentArticleGroup(elem)'
        ng-repeat='elem in vm.articleGroups | orderBy:"name" track by elem.id'
        )
          span.badge(ng-if='!elem.children.length && elem.stockArticles()') {{elem.stockArticles()}}
          i.glyphicon.glyphicon-menu-right.pull-right(ng-if='elem.children.length')
          span {{elem.name}}

    #scroll-articles.col-sm-8.scroll-y.height-100
      ul.list-group.vr-parent(vs-repeat='41' vs-scroll-parent="#scroll-articles")
        .list-group-item.display-flex(ng-repeat='stock in vm.stock track by stock.id')
          span.flex-1 {{stock.article.name}}
          span.right {{stock.displayVolume}}
