h3.pull-left(style='max-width: 63%')
  span {{ vm.outlet.partner.shortName }}
  = ' '
  small
    a.inherit-colors(href ng-click='vm.outletClick()' ng-class='{disabled: vm.disableNavs}') {{ vm.outlet.address }}

section.ui-view
  .buttons.pull-right
    button.btn.btn-success(ng-click='vm.newVisitClick()') Новый визит

  table.table.table-striped.clear-both(ng-if='vm.visits.length')
    caption
      h4 Недавние визиты
    thead
      tr
        th Дата
        th.number Кол-во фото
        th.number Кол-во ответов
    tbody
        tr.clickable(ng-repeat='visit in vm.visits | orderBy:"-deviceCts" track by visit.id' ng-click='vm.visitClick(visit)')
          td {{ visit.deviceCts | amUtc | amLocal | amCalendar }}
          td.number {{ visit.photos.length | number: 0 }}
          td.number {{ visit.answers.length | number: 0 }}
