section.ui-view(resize)

  h3
    p.clear-both Предзаказы
    small.lead

  .progress-striped(ng-if='vm.progress' uib-progressbar max="vm.progress.max" value="vm.progress.value" type="danger")
    i {{ vm.progress.value }} / {{ vm.progress.max }}
  table.table.table-hover.mb--1
    colgroup
      col(width="10%")
      col(width="50%")
      col(width="20%")
      col(width="20%")
    thead.fixed
      th Статус
      th Клиент
      th Содержимое
      th Дата
  section.clear-both#scroll-main(style='height: {{windowHeight - 615 + 400}}px')
    table.table.table-hover
      colgroup
        col(width="10%")
        col(width="50%")
        col(width="20%")
        col(width="20%")
      tbody(
        vs-repeat
        vs-scroll-parent="#scroll-main"
        vs-size="60"
        vs-scrolled-to-end="vm.nextPage()"
      )
        tr(
          ng-repeat='order in vm.prePreOrders track by order.id'
        )
          td
            i(ng-class="order.processingClass")
          td
            div {{ ::order.outlet.name }}
            small.gray {{ ::order.outlet.address }}
          td
            span {{ order.totalVolume () | number:0 }}
            abbr Шт
            span {{ order.positionsCount () | number:0 }}
            abbr Поз
            span {{ order.totalBoxVolume () | number: 1 }}
            abbr Кор
          td {{ order.date }}

nav.navbar.navbar-default.navbar-fixed-bottom.animate-show(ng-hide='vm.hideBottomBar')
  .container

    ul.nav.navbar-nav.navbar-right.float-right.animate-show.flat-on-small
      li(ng-class='{active: !vm.state}')
        a(ui-sref='sales.prePreOrders({state: ""})') Все
      li(ui-sref-active='active')
        a(ui-sref='.({state: "upload"})') Обрабатыаются

      li(ui-sref-active='active')
        a(ui-sref='.({state: "done"})') Обработанные
