#scroll-main(
resize
ng-style='{height: (windowHeight - offsetTop) + "px"}'
)
  table.table.table-striped.clear-both.table-hover(
    ng-repeat='day in vm.currentWeek'
  )
    thead
      tr
        th
          h3.content-float-right {{ day | amUtc | amLocal | amCalendar }}
            button.btn.btn-success
              i.glyphicon.glyphicon-plus


    tbody
      tr
        td
          a Scheduled outlet name with address
      tr.alert.alert-info.centered(ng-hide='vm.selectedDayVisits.length')
        td Нет шедулов
