#scroll-main(
resize
ng-style='{height: (windowHeight - offsetTop) + "px"}'
)
  table.table.table-striped.clear-both.table-hover(
    ng-repeat='day in vm.currentWeek'
  )
    thead
      tr
        th.display-flex
          h4(ng-class='vm.colorDate(day)') {{ vm.displayDate(day) }}
          .flex-1
          .content-float-right
            button.btn.btn-default(ng-click='vm.createScheduledEvent(day)')
              i.glyphicon.glyphicon-plus

    tbody
      tr
        td
          a Scheduled outlet name with address
      tr.alert.alert-info.centered(ng-hide='vm.selectedDayVisits.length')
        td Нет запланированных посещений
