.scroll-y(
resize
style='max-height: {{windowHeight - offsetTop - 15}}px'
)
  .option(ng-repeat='md in vm.monthDays')
    a(
    href
    ng-click='vm.setMonthDay(md)'
    )
      .name.mt-10.mb-10 {{ md }}
