@import "variables";

.warehouse-list {
  .alert {
    text-align: center;
  }
  .warehouse {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    > * + * {
      margin-left: 1em;
    }
    .stock {
      text-align: right;
    }
    @include responsive-only(xxs) {
      flex-direction: column;
      align-items: stretch;
      > * + * {
        margin-top: 5px;
      }
    }
  }
}
