@import "../../../styles/variables";

.debt-cashing-popover {

  $margin: 8px;
  $border: solid 1px $border-gray;

  a {
    text-align: center;
    display: block;
    padding: $margin;
  }

  a.delete.confirmation {
    color: $state-danger-text !important;
  }

  .cashings {

    min-width: 250px;

    .cashing {

      > * {
        padding: $margin;
      }

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: $border;
      align-items: baseline;

      i.glyphicon {
        top: 2px;
      }

      .cts {
        text-align: left;
      }
      .summ {
        text-align: right;
      }
    }

    .cashing:first-child {
      border-top: $border;
    }

  }
}
