.debt-cashing-popover

  a.btn.btn-link(href ng-click='vm.cashWholeClick()') Забрать остаток

  .cashings
    .cashing(ng-repeat='cashing in vm.cashings track by cashing.id')
      span.cts {{ cashing.deviceCts | amUtc | amLocal | amCalendar }}
      strong.summ {{ cashing.summ | number:2 }}
