.debt-cashing-popover

  a.btn.btn-link(
  href ng-click='vm.cashWholeClick()'
  ng-if='vm.debt.uncashed()'
  ) Забрать остаток

  .cashings(ng-if='vm.cashings.length')
    .title Получено
    .cashing(ng-repeat='cashing in vm.cashings track by cashing.id')
      a.delete(
      ng-if='!cashing.isProcessed'
      href ng-click='vm.deleteCashingClick(cashing)'
      ng-class='{confirmation: vm.deleteConfirmation[cashing.id]}'
      )
        i.glyphicon.glyphicon-trash
      span.cts {{ cashing.deviceCts | amUtc | amLocal | amCalendar }}
      strong.summ {{ cashing.summ | number:2 }}
