.search-input-popover {

  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .query, .tag {

    flex: 1;
    max-width: 50%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    &:not(.query) {
      text-align: right;
    }

    p {
      font-weight: bold;
      width: 100%;
      margin-bottom: 3px;
      border-bottom: 1px solid darken($border-gray, 30%);
    }

    a {
      background-color: darken($gray-border-color, 20%);
      padding: 5px 10px;
      margin: 3px;
      user-select: none;

      &:hover {
        background-color: darken($gray-border-color, 10%);
        color: $white;
      }

    }

    .active {
      background-color: $primary-color;
      color: $white;

      &:hover {
        background-color: lighten($primary-color, 20%);
      }

    }

  }

  .delimiter {
    border-right: 1px solid darken($border-gray, 30%);
    align-self: stretch;
  }

}
