.stm-searcher {
  label {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin: 0;
    text-align: center;
  }
  input {
    padding-left: 30px;
  }
  &.has-feedback label ~ .form-control-feedback {
    top: 1px;
  }
  .form-control-feedback {
    pointer-events: inherit;
  }
}

