@import "../../styles/variables";

.stm-searcher {
  label:first-child {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin: 0;
    text-align: center;
  }
  input {
    padding-left: 30px;
    border-color: #ddd;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  &.has-feedback label ~ .form-control-feedback {
    top: 1px;
  }
  .form-control-feedback {
    pointer-events: inherit;
  }
  label.form-control-feedback {
    color: $primary-color;
    &:focus, &:hover, &:active {
      color: $primary-color;
      text-decoration: none;
      outline: none;
    }
  }
}

