.campaign-popover-template.scroll-y(
resize resize-offset-top='30'
)

  // TODO: show only 4 thumbs and use
  .campaign(ng-repeat='campaign in vm.campaigns | orderBy:"name" track by campaign.id')

    .name {{ campaign.name }}

    .pictures
      a.thumb(
      href ng-click='vm.thumbClick(picture)'
      ng-repeat='picture in ::campaign.campaignPictures track by picture.id'
      )
        img(ng-src='{{picture.srcThumbnail}}')
