@import "../../../styles/variables";

campaign-group-popover {

  a.campaign-group-popover {
    font-size: 15px;
  }

  .popover {

    a.name {
      font-size: 15px;
      display: block;
      padding: 8px 0;
      border-bottom: solid 1px $border-gray;
    }

  }

}
