@import "view";

stock-taking {

  .stock-taking {

    @extend %view;

    ui-view {
      margin-bottom: 0;
    }

    stock-taking-list.scroll-y, .list-group.scroll-y {
      margin-bottom: 0;
    }

  }

  .list-group-item:hover {
    background: $gray-background-color;
    &.active {
      background: darken($gray-background-color, 10%);
      border-color: $border-gray;
    }
  }

  @include responsive-only(xxs) {
    .stock-taking-item-list > .list-group-item {
      border-left: none;
      border-right: none;
      border-radius: 0 !important;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include responsive-only(xs) {
    .nav-justified > .active, .nav-tabs.nav-justified > .active {
      a {
        border-bottom-color: $white;
      }
    }

    .nav-justified > li, .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
      a {
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
      }
    }
  }

}
