.stock-taking(cg-busy='vm.cgBusy')

  ui-view

    .buttons(ng-show="vm.currentState==='stockTaking'")
      button.btn.btn-primary(ng-click='vm.addClick()') Начать инвентаризацию

    stock-taking-list.scroll-y(
    resize resize-offset-top='5'
    ng-model="vm.stockTakings"
    on-click="vm.stockTakingClick($item)"
    )


