@import "view";

stock-taking {

  .stock-taking {

    @extend %view;

    ui-view {
      margin-bottom: 0;
    }

    stock-taking-list.scroll-y, .list-group.scroll-y {
      margin-bottom: 0;
    }

  }

  a.list-group-item:hover:not(.active) {
    background: $gray-background-color;
  }

  @include responsive-only(xxs) {
    .list-group-item {
      border-left: none;
      border-right: none;
      border-radius: 0 !important;
      padding-left: 0;
      padding-right: 0;
    }
  }

}
