@import "../../../styles/variables";

campaign-popover {

  $dimension: 37px;

  margin-left: 8px;
  font-size: 14px;
  height: $dimension;
  font-weight: normal;
  text-align: center;
  display: block;

  background: $gray-background-color;

  .glyphicon-gift {
    font-size: 20px;
    font-weight: 500;
    width: $dimension;
    line-height: $dimension;
  }

  @include responsive-only(gt-xxs) {

    .glyphicon-gift {
      display: none;
    }

  }

  .campaign {
    padding: 10px;
    line-height: $dimension;

    @include responsive-only(xxs) {
      padding: 0;
      .name, .caret {
        display: none;
      }
    }
  }

  .popover {

    padding: 0;
    top: 47px !important;

    .popover-content {
      padding: 0;
    }

    .arrow:after {
      border-bottom-color: #f5f5f5 !important;
    }

    @include responsive-only(xxs) {
      max-width: 230px;
      font-size: 12px;

      #campaign-popover-scroll {
        width: 215px;
        padding: 0 5px;
      }

    }

    @include responsive-only(xs) {
      max-width: 300px;
      font-size: 13px;

      #campaign-popover-scroll {
        width: 248px;
        padding: 0 7px;
      }
    }

    @include responsive-only(gt-xs) {
      max-width: 400px;
      font-size: 15px;

      #campaign-popover-scroll {
        width: 359px;
      }

    }

    .tabset {
      height: inherit;

      > ul {

        background: #f5f5f5;
        padding: 5px;
        margin-bottom: 5px;
        text-align: left;
        border-radius: 5px 5px 0 0;
        font-size: 13px;

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        overflow: scroll;

        li {
          border-radius: 9px;
          text-align: center;
          margin: 0 auto;
          a {
            white-space: nowrap;
          }
        }

        li.active {
          pointer-events: none;
        }
      }

    }

    #campaign-popover-scroll {

      margin: 0 auto;

      .campaign-item {

        .name {
          @extend .ellipsis;
          margin-right: 10px;
        }

        .pictures {

          text-align: right;

          .thumb {

            margin: 6px 12px 6px 0;
            width: 70px;
            height: 70px;
            border: solid 1px $state-info-border;

            img {
              width: inherit;
              height: 100%;
              object-fit: cover;
            }

            &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
              display: inline-block;
            }

            @include responsive-only(xs) {

              &:nth-child(4) {
                display: none;
              }

              &:nth-child(3), &:last-child {
                margin-right: 0;
              }

            }

            @include responsive-only(xxs) {
              &:nth-child(3), &:nth-child(4) {
                display: none;
              }

              &:nth-child(2), &:last-child {
                margin-right: 0;
              }
            }

          }
        }
      }
    }
  }
}
