a.animate-show.campaign(
href
popover-is-open='vm.isPopoverOpen'
popover-placement='bottom-right'
uib-popover-template='"app/domain/components/campaignPopover/campaignPopover.template.html"'
)
  span.name Акции
  i.glyphicon.glyphicon-gift
  span.caret
