a.campaign-popover.animate-show(
href
ng-if='vm.campaigns'
popover-is-open='vm.isPopoverOpen'
popover-placement='auto bottom-left'
uib-popover-template='"app/domain/components/campaignPopover/campaignPopover.template.html"'
)
  span.name Акции
  i.glyphicon.glyphicon-gift
  span.caret
