a.animate-show.campaign(
href
ng-disabled='!vm.campaigns || !vm.teams.length'
popover-is-open='vm.isPopoverOpen'
popover-placement='bottom-right'
uib-popover-template='"app/domain/components/campaignPopover/campaignPopover.template.html"'
)
  span.name Акции
  i.glyphicon.glyphicon-gift
  span.caret
