.campaign-popover-template(elem-ready='vm.onElemLoad()' cg-busy='vm.busy')

  uib-tabset.tabset(active='vm.teamIdx' type='pills')
    uib-tab(
      index='$index + 1'
      ng-repeat='team in vm.teams'
      select='vm.onTeamSelect(team, $index)'
    )
      uib-tab-heading
        i(ng-class="team.icon" ng-if="team.icon")
        span(ng-if="!team.icon") {{ team.name }}

  #campaign-popover-scroll.scroll-y(
    resize
    resize-offset-top='40'
  )

    p(ng-if='vm.ready && !vm.teams.length') Нет акций

    .wrapper
      #scrollable-div()

        .campaign-item(ng-repeat='campaign in vm.selectedTeam.campaigns track by campaign.id')

          a.name(href ng-click="vm.campaignClick(campaign)") {{ campaign.title }}

          .group(ng-repeat="group in campaign.groups track by group.id")
            a.name(href ng-click="vm.campaignClick(group)") {{ group.title }}
