@import "../../../styles/variables";
@import "../../../styles/alerts";

$width-driver: 110px;
$width-ndoc: 100px;
$width-egais: 60px;
$width-egais-inner: 30px;
$width-salesman: 110px;
$width-outlet: 330px;
$width-cost: 100px;
$width-positions: 100px;

$font-weight-bold: 600;
$font-weight-normal: 400;

.shipmentDetails {

  .alert {
    @extend %header-alert;

    .comment small {
      font-style: italic;
      color: $black;
    }

  }

  table {
    @include responsive-only(xxs) {
      font-size: 85%;
    }
  }

  th {
    white-space: nowrap;
  }

}

.shipment-list {

  .headers {

    border-bottom: 2px solid $gray-border-color;
    display: flex;
    flex: 1;
    padding-bottom: 8px;

    > div {
      font-weight: $font-weight-bold;
    }

    @include responsive-only(lt-sm) {
      display: none;
    }

  }

  .repeated-item {

    height: 40px;

    @include responsive-only(lt-sm) {
      height: 137px;
    }

    .date {
      padding: 5px 0;
      .title {
        font-size: 150%;
      }
    }

    .shipment {

      border-bottom: 1px solid $gray-border-color;
      display: flex;
      height: inherit;

      @include responsive-only(lt-sm) {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
      }

      &:hover {
        background-color: $position-hover-color;
      }

      > div {

        @include responsive-only(lt-sm) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > span {
            font-weight: $font-weight-bold;
          }

        }

        > label {

          font-weight: normal;
          height: 100%;
          margin: 0;

          @include responsive-only(gt-xs) {
            display: none;
          }

        }

      }

      .ndoc, .salesman {
        display: flex;
        align-items: center;
      }

      .egais {
        @include responsive-only(lt-sm) {
          position: absolute;
          right: 0;
          top: 10px;
          min-width: 0;
        }
      }

      .driver {

        padding-right: 10px;

        @include responsive-only(lt-sm) {
          width: 100%;
          padding: 0;
        }

      }

      .outlet {

        @include responsive-only(lt-sm) {
          order: -1;
          min-height: 40px;
          width: calc(100% - 50px);
          font-weight: $font-weight-bold;
        }

        .outlet-address {

          .address {
            color: gray;
            display: block;
            @extend .ellipsis;
          }

          @include responsive-only(lt-sm) {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

      }

      .cost {

        .cost-diff-price {

          @include responsive-only(lt-sm) {
            display: flex;
            flex-flow: row nowrap;
            order: 1;
            height: 19px;
          }

          currency-value {
            strong {
              font-weight: $font-weight-normal;
            }
          }

          .diff {

            > * {
              font-weight: $font-weight-normal;
              color: gray;
            }

            span.parenthese {

              &:not(:last-of-type) {
                letter-spacing: -3px;
              }

              @include responsive-only(gt-xs) {
                display: none;
              }

            }

            @include responsive-only(lt-sm) {
              padding-left: 5px;
            }

          }

        }

      }

    }

    .footer {

      text-align: right;

      .totals {
        margin-right: 5px;
        @include responsive-only(gt-xs) {
          display: none;
        }
      }

      .spacing {
        display: inline;
        padding-left: $width-cost - 4;

        @include responsive-only(lt-md) {
          padding: 0;
        }
      }
    }

  }

  @include responsive-only(lt-md) {

    .positions {
      display: none;
    }

  }

  // init widths

  .headers, .scroll-y {

    .ndoc {
      min-width: $width-ndoc;
    }

    .driver {
      width: $width-driver;
    }

    .egais {
      min-width: $width-egais;
    }

    .salesman {
      min-width: $width-salesman;
    }

    .outlet {
      flex: 1;
      min-width: $width-outlet - 200;
    }

    .cost {
      min-width: $width-cost;
      text-align: right;
    }

    .positions {
      min-width: $width-positions;
      text-align: right;
    }

  }

}
