.ui-view(cg-busy='{promise: vm.busy, message: "Подождите, идет загрузка"}')
  .shipment-list-view(ng-if='vm.ready')
    .shipment-table-headers
      .order-number №
      .egais Егаис
      .driver Водитель
      .salesman ТП
      .outlet Точка
      .price Стоимость
      .quantity Позиции

    .shipment-list.scroll-y(
    resize
    resize-offset-top='5'
    vs-repeat='{{vm.isWideScreen() ? 40 : 145}}'
    vs-scrolled-to-end='vm.getData()'
    vs-excess='10'
    )
      .shipment-table-items(ng-repeat='shipment in vm.data' ng-click='vm.itemClick(shipment, $event)')

        .order-number
          label №:
          span {{shipment.ndoc}}

        .egais
          label ЕГАИС:
          egais-popover(shipment='shipment' ng-if='shipment.egaisCached()')
            i.glyphicon(ng-class='shipment.egaisCached().egaisTtnCls')
            i.glyphicon(ng-class='shipment.egaisCached().egaisActCls')

        .driver
          label Водитель:
          span {{shipment.driver.tinyName}}

        .salesman
          label ТП:
          span {{shipment.salesman.tinyName}}

        .outlet
          label Точка:
          span {{shipment.outlet.name}}

        .price
          label Цена:
          span {{ shipment.totalCost() | number: 2 }}

        .quantity
          label Количество:
          span {{ shipment.totalPositions() }}
