
.shipment-list-view {

  padding: 0 5px;

  @include responsive-only(lt-sm) {
    padding: 0;
  }

  .shipment-table-headers {
    border-bottom: 2px solid #DDD;
    display: flex;
    flex: 1;
    padding-bottom: 8px;

    > * {
      font-weight: 700;
    }

    @include responsive-only(lt-sm) {
      display: none;
    }

    .order-number {
      min-width: 100px;
      flex: 0.1;

      @include responsive-only(lt-sm) {
        min-width: 50px;
        border: 1px solid red;
      }
    }
    .driver {
      min-width: 100px;
      flex: 0.2;
    }
    .salesman {
      min-width: 100px;
      flex: 0.2;
    }
    .outlet {
      min-width: 100px;
      flex: 0.3;
    }
    .price {
      min-width: 100px;
      flex: 0.1;
    }
    .quantity {
      min-width: 50px;
      flex: 0.1;
    }

  }

  .shipment-list {

    > * {
      outline: none;
    }

    .shipment-table-items {

      &:hover {
        background-color: #CFE1EE;
      }

      border-bottom: 1px solid #DDD;
      line-height: 39px;
      display: flex;
      height: 40px;
      padding-left: 5px;

      @include responsive-only(lt-sm) {
        line-height: 18px;
        flex-flow: column nowrap;
        height: auto;
        border: 1px solid #DDD;
        background-color: #f5f5f5;
        padding: 5px;
        border-radius: 9px;
        margin-bottom: 10px;
      }

      .order-number {
        min-width: 100px;
        flex: 0.1;
      }
      .driver {
        min-width: 100px;
        flex: 0.2;
      }
      .salesman {
        min-width: 100px;
        flex: 0.2;
      }
      .outlet {
        @extend .ellipsis;
        min-width: 100px;
        flex: 0.3;
      }
      .price {
        min-width: 100px;
        flex: 0.1;
      }
      .quantity {
        min-width: 50px;
        flex: 0.1;
      }

      .order-number, .driver, .salesman, .outlet, .price, .quantity {

        .attr-name {
          font-weight: 600;
        }

        @include responsive-only(lt-sm) {
          display: flex;
          justify-content: space-between;
          flex-flow: row nowrap;
          min-width: 50px;
          font-size: 14px;
        }
      }

    }
  }

  .shipment-item {

    //.headings {
    //  color: #000;
    //  font-weight: 600;
    //  font-size: 15px;
    //  display: flex;
    //  flex-flow: row nowrap;
    //  justify-content: space-between;
    //}
    //
    //.shipment-data {
    //  display: flex;
    //  flex-flow: row nowrap;
    //  justify-content: space-between;
    //}
  }

  .sticky-title {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background: #999;
    color: #fff;
    padding: 10px 20px;
  }

}
