.ui-view(cg-busy='{promise: vm.busy, message: "Подождите, идет загрузка"}')
  .shipment-list-view(ng-if='vm.ready')
    .shipment-table-headers
      .order-number №
      .egais ЕГАИС
      .driver Водитель
      .salesman(ng-if='!vm.currentSalesman') ТП
      .outlet Точка
      .cost Стоимость
      .positions Позиций

    .shipment-list.scroll-y(
    resize
    resize-offset-top='5'
    vs-repeat='{{vm.isWideScreen() ? 40 : 131}}'
    vs-scrolled-to-end='vm.getData()'
    vs-excess='10'
    )
      .shipment-table-items(ng-repeat='shipment in vm.data' ng-click='vm.itemClick(shipment, $event)')

        .order-number
          label №
          span {{shipment.ndoc}}

        .egais
          egais-popover(shipment='shipment' ng-if='shipment.egaisCached()')
            i.glyphicon(ng-class='shipment.egaisCached().egaisTtnCls')
            i.glyphicon(ng-class='shipment.egaisCached().egaisActCls')

        .driver
          label Водитель:
          span {{shipment.driver.tinyName}}

        .salesman(ng-if='!vm.currentSalesman')
          label ТП:
          span {{shipment.salesman.tinyName}}

        .outlet
          .outlet-address
            span {{shipment.outlet.name}}
            span.address {{shipment.outlet.address}}

        .cost
          label Стоимость:
          .cost-diff-price
            currency-value(value='shipment.totalCost()')
            .diff(ng-if='shipment.totalCostDoc() - shipment.totalCost() > 0.1')
              span +
              currency-value(value='shipment.totalCostDoc() - shipment.totalCost()')

        .positions
          label Позиций:
          span {{ shipment.totalPositions() }}

        // TODO: show diff from shipment.totalCostDoc() if > 0.01
