@import "variables";

.outlet-perfect-shop {

  table {
    //border-color: $gray-border-color;
    width: 100%;
    margin: $margin-bottom-xs auto;
  }

  @include responsive-only(xxs) {
    .wide {
      display: none;
    }
  }

  @include responsive-only(gt-xxs) {
    .narrow {
      display: none;
    }
  }

  tr.block {
    .name {
      font-weight: bold;
      @include responsive-only(gt-xxs) {
        font-size: large;
      }
      &:after {
        content: ":";
      }
    }
    .value {
      margin-left: $margin-bottom-xs;
      font-weight: bold;
      color: $dark-gray;
    }
  }

  tr.assortment {
    td.name {
      @include responsive-only(gt-xxs) {
        padding-left: 10px;
      }
    }
  }

  .level, .next-level {
    label {
      font-weight: normal;
      color: $dark-gray;
      margin: 0 $margin-bottom-xs;
      &:after {
        content: ":";
      }
    }
    text-align: right;
  }

  .goal, .value {
    text-align: right;
  }

  .done {
    background: $light-green;
  }

  th, .rule {
    text-align: center;
    color: $light-gray;
  }

  th, td {
    padding: 3px;
  }

}
