@import "variables";

barcode-scanner {

  label {
    display: none;
  }

  .form-control {

    border-radius: $border-radius;
    border: none;
    padding: 3px 0;

    &:focus, & {
      box-shadow: none;
    }

  }

}
