@import "variables";

.root-navbar barcode-scanner {

  font-weight: normal;
  input {
    text-align: right;
  }

  .toggle-enable {
    &.enabled {
      i {
        color: $green;
      }
    }
    i {
      font-size: 19px;
    }
    @include responsive-only(gt-xxs) {
      i {
        top: 0;
      }
      span {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
      }
    }
    @include responsive-only(gt-xs) {
      span {
        margin-top: 8px;
      }
    }
    @include responsive-only(xxs) {
      span {
        display: none;
      }
    }
    padding: 0;
    //line-height: 37px;
    border: none;
  }

}

barcode-scanner {

  .barcode-scanner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  label {
    display: none;
  }

  a.toggle-enable {

    order: 2;
    margin-left: $margin-bottom-xs;
    padding: 7px 10px;

    border-radius: $border-radius;
    border: solid 1px $border-gray;
    background: none;

    > * + * {
      margin-left: $margin-bottom-xs;
    }

    i {
      top: 3px;
    }

  }

  input.form-control {

    &[disabled] {
      background: none;
    }

    border-radius: $border-radius;
    border: none;
    padding: 3px 0;

    &:focus, & {
      box-shadow: none;
    }

  }

}
