@import "variables";


.campaign .territory {

  display: inline-block;
  background: $red;
  padding: 3px 6px;
  border-radius: $border-radius;

  &, i.glyphicon {
    color: white;
  }

}


.campaign-view {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .fields {

    display: flex;
    align-items: center;

    > * {
      margin: $margin;
    }

  }

  .need-photo span {

    display: inline-block;
    background: $green;
    color: white;
    padding: 3px 6px;

  }

  .period {
    //margin-left: $margin-right;
    display: inline-block;
    background: $light-gray;
    padding: 6px;
    color: white;

    i {
      //color: $orange;
      //margin-right: $padding;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }

  .campaign-picture {
    img {
      max-width: 100%;
      //object-fit: contain;
    }
  }

  .fields {
    @include responsive-only(lt-sm) {
      flex-direction: column;
      align-items: flex-start;
      > * {
        margin: 3px 0;
      }
    }
  }

}

full-screen-content.campaign {

  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  max-width: 1024px;

  action-view {

    margin-bottom: $margin;

  }

}
