@import "variables";

.campaign-view {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .fields {

    display: flex;
    align-items: center;

    > * {
      margin: $margin;
    }

  }

  .need-photo span {

    display: inline-block;
    background: $green;
    color: white;
    padding: 3px 6px;

  }

  .period {
    //margin-left: $margin-right;
    display: inline-block;
    background: $light-gray;
    padding: 6px;
    color: white;

    i {
      //color: $orange;
      //margin-right: $padding;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }

  .campaign-picture {
    img {
      max-width: 100%;
      //object-fit: contain;
    }
  }

}

full-screen-content.campaign {

  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  action-view {

    margin-bottom: $margin;

  }

}
