@import "../../../styles/variables";

uncash-popover {

  .btn-group {
    @extend %flex-row;
    justify-content: space-around;
    > * {
      flex: 1;
    }
  }

  button.btn-success {
    display: block;
    width: 100%;
    strong {
      font-weight: normal;
    }
    .currency {
      color: $white;
    }
  }

  .popover {
    min-width: 300px;
    max-width: 350px;
  }

  .uncashingPhoto {
    .thumb {

      position: relative;

      img {

        object-fit: contain;

        width: 60px;
        height: 60px;
      }

      .remove {
        position: absolute;
        top: -5px;
        left: -5px;
        border-radius: 10px;
        padding: 4px;
        background: red;
        color: $white;
        line-height: 1;
        font-size: 10px;
      }
    }
  }

}
