.stock-taking-view

  .details

    .buttons
      confirmed-button(on-confirm="vm.deleteClick()" no-confirm="!vm.stockTakingId")
        i.glyphicon.glyphicon-trash
        cancel
          i.glyphicon.glyphicon-lock

    .field.date
      label Начало
        span.hidden-xs &nbsp;инвентаризации
      strong {{ vm.stockTaking.date | dateTime }}

  barcode-scanner(on-scan='vm.onScan($barcode)' required-type='vm.BARCODE_TYPE')

  .items

    ui-view.current-item(ng-if='vm.itemId')

    stock-taking-item-list.scroll-y(
    resize resize-offset-top='10'
    filter="{stockTakingId: vm.stockTakingId}"
    on-click="vm.itemClick($item)"
    active-id="vm.itemId"
    scroll="vm.itemListScrollTo"
    )
