@import "view";
@import "fileds";

stock-taking-view {

  $right-panel-width: 320px;

  .stock-taking-view {

    @extend %view;

    label {
      margin-bottom: 0;
    }

    .unsaved {
      .volume strong {
        background: $state-warning-bg;
        color: $state-warning-text;
      }
    }

    .details {

      @include responsive-only(gt-xxs) {
        background: $gray-background-color;
        padding: $margin-bottom-xs;
        border-radius: $border-radius;
      }

      @include responsive-only(xxs) {
        margin-bottom: 0;
      }

      .field {

        display: flex;
        align-items: center;
        justify-content: flex-start;

        > *:last-child {
          flex: 1;
          text-align: left;
        }

        a {
          background: $white;
        }

        @include responsive-only(xxs) {
          label {
            display: none;
          }
          //flex-direction: column;
          //align-items: stretch;
          //justify-content: stretch;
          //
          margin-bottom: $margin-bottom-xs/2;
        }

      }

      @include responsive-only(gt-xxs) {
        .field {
          margin: $margin-bottom-xs 0;
        }
      }

      .buttons {
        //@include responsive-only(xxs) {
        text-align: right;
        float: right;
        //}
      }

    }

    .items {

      .current-item {

        @include responsive-only(lt-sm) {
          margin-bottom: $margin-bottom-xs;
        }

        .confirmed-button {
          display: inline-block;
          margin-right: $margin-bottom-xs;
        }

      }

      @include responsive-only(gt-xs) {

        display: flex;
        flex-direction: row;

        .current-item {
          order: 2;
          margin-left: $margin-bottom-xs;
          width: $right-panel-width;
          .field {
            @include side-view-field();
          }

          & + * {
            flex: 1;
            order: 1;
          }
        }

        stock-taking-item-list {
        }

      }

      .tab-pane {
        > * > .list-group > .list-group-item:first-child {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          margin-top: -1px;
        }
      }

    }

    a.delete {
      margin-right: $margin-bottom-xs/2;
      i {
        top: 1px;
      }
    }

    .current-item {

      display: block;
      border-radius: $border-radius;
      border: solid 1px $gray-border-color;
      padding: $margin-bottom-xs;

      @include responsive-only(lt-sm) {
        padding-top: 7px;
        padding-bottom: 7px;
      }

    }

  }

}
