@import "variables";

stock-taking-view {

  .stock-taking-view {

    > * {
      display: block;
      margin-bottom: $margin-bottom-xs;
    }

    .list-group-item {
      display: flex;
      justify-content: space-between;
    }
  }

}
