@import "../../../styles/variables";

.filter-workflow {

  > a {

    display: inline-block;
    padding: 10px 10px;

    background: $border-gray;
    border-radius: $border-radius;

    @include responsive-only(lt-sm) {
      display: block;
    }

  }

  .popover {
    padding: 0;
  }

  .popover-content {
    padding: 0;
  }

  .workflow-popover {

    .workflows {

      > .workflow {

        outline: none;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 7px 10px;

        text-decoration: none;
        color: $black;

        &.active {
          background-color: $primary-color;
          color: $white;
        }

        &:hover:not(.active) {
          background-color: $gray-background-color;
        }

        & + * {
          border-top: 1px solid $border-gray;
        }

        &.blue .badge {
          @include backgroundBorderColor($state-info-bg, $state-info-border, $state-info-text);
        }

        &.green .badge {
          @include backgroundBorderColor($state-success-bg, $state-success-border, $state-success-text);
        }

        &.orange .badge {
          @include backgroundBorderColor($state-warning-bg, $state-warning-border, $state-warning-text);
        }

        &.red .badge {
          @include backgroundBorderColor($state-danger-bg, $state-danger-border, $state-danger-text);
        }

        .caret {
          align-self: center;
        }

        .name {
          padding-right: 10px;
        }

      }

    }
  }

}
