.action-matrix
  table(border="1")
    thead
      th
      th(ng-repeat="col in vm.columns track by $index")
        action-required(required="col")
    tbody
      tr(ng-repeat="row in vm.rows track by $index")
        th
          action-required(required="row")
        td(ng-repeat="value in row.values track by $index")
          span {{ value | number }}%
