@import "../../../styles/variables";

settings-popover {

  font-size: 21px;
  padding: 6px 8px;
  background: $gray-background-color;

  .popover {
    button {
      background: $gray-background-color;
      color: #4290d0;
    }
  }

  i.glyphicon {
    top: 2px;
  }

  .popover {
    top: 47px !important;
  }

}

