@import "../../../styles/variables";

settings-popover {

  font-size: 21px;
  line-height: 37px;
  padding: 0 8px;
  display: block;
  background: $gray-background-color;

  .popover {
    button {
      background: $gray-background-color;
      color: #4290d0;
    }
  }

  i.glyphicon {
    top: 3px;
  }

  .popover {
    top: 47px !important;
  }

}

