.panel-heading
  h4.panel-title(uib-accordion-transclude='heading')
    div(uib-accordion-header ng-class="{disabled: isDisabled}")

.panel-collapse.collapse(uib-collapse='!isOpen')
  .panel-body(ng-transclude)

