@import "variables";
@import "flex";

.root-navbar {

  @extend %flex-center;
  overflow-x: scroll;
  overflow-y: hidden;

  margin-bottom: 10px;
  margin-top: $margin-bottom-xs;

  .last-digest {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 10px;
  }

  > .separator {
    @extend .flex-1;
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  .fullscreen-menu {
    font-size: 24px;
    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }

  visit-indicator a {
    margin-right: 20px;
    @media (max-width: $screen-xs-max) {
      margin-right: 15px;
    }
  }

  > a + a {
    margin-left: 20px;
    @include responsive-only(xxs) {
      margin-left: 10px;
    }
  }

  & + hr {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  a.home {
    background: $gray-background-color;
    padding: 0 8px;
    line-height: 37px;
    border-radius: 9px;
    font-size: 21px;
    display: block;

    b {
      top: 3px;
      right: 1px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }

    &.disabled {
      background: none !important;
    }

  }

  syncer-indicator {
    margin-right: 8px;
  }

  @include responsive-only(xxs) {
    font-size: 18px;
  }

}

.root-navbar + hr {
  border: none;
}
