h2.root-navbar(ng-hide='vm.hide' ng-class='{disabled: vm.hideNavs}')

  visit-indicator(ng-if='vm.isSalesState || (vm.isHomeState && vm.sales)')

  a.home(href ui-sref='home' ng-class='{disabled: vm.isHomeState}')
    b.glyphicon.glyphicon-home

  a.home.sub-root-nav(href ng-click='vm.backClick()' ng-if='vm.isSubRootState')
    b.glyphicon.glyphicon-chevron-left

  a(href ng-click='vm.rootClick()' ng-class='{disabled: vm.isHomeState}')
    span {{ vm.title }}

  .separator

  small.last-digest(ng-if='vm.lastDigest >= 0') D:{{ vm.lastDigest }}

  syncer-indicator

  fullscreen-menu(ng-show='vm.isHomeState')

  account-menu(ng-if='vm.isHomeState')

  // TODO: add component config option to unhardcode domain content
  .sales-navs(ng-if='vm.isSalesState')

    settings-popover(ng-if='vm.state.data.settings' items='vm.state.data.settings')
    campaign-popover(ng-if='vm.isCatalogueState')
    salesman-menu(ng-if='vm.isSalesState')
